.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.6rem;
  margin-bottom: 6rem;

  a {
    color: $black;
    font-family: Gilroy, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    display: flex;
    column-gap: 1.6rem;
    align-items: center;

    &:not(:last-child)::after {
      content: '';
      background: url('../img/icon/bread-crumb-icon.svg') no-repeat center;
      background-size: cover;
      width: 0.8rem;
      height: 1.3rem;
      display: block;
    }

    &:last-child {
      color: $grey;
      pointer-events: none;
      cursor: default;
    }
  }
}

@media screen and (max-width: 48em) {
  .bread-crumbs {
    column-gap: 2.8vw;
    margin-bottom: 10.6vw;
    row-gap: 2.2vw;

    a {
      font-size: 4vw;
      line-height: 130%;
      column-gap: 2.2vw;

      &:not(:last-child)::after {
        width: 2vw;
        height: 3.2vw;
      }
    }
  }
}
