.card {
  &-no-available {
    .card__content-panel-status {
      background-color: $black;
    }

    .card__content-panel {
      display: flex;
      justify-content: space-between;
    }
  }

  &-available {
    .card__content-panel {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    padding: 2rem 2rem 3.2rem 2rem;
    background: $white;
    max-width: 24.5rem;
    height: 100%;
    border: $border;
    border-color: transparent;
    display: flex;
    flex-direction: column;

    &:hover {
      border-color: $mainColor;
    }
  }

  &__content-panel {
    margin-bottom: 0.5rem;
  }

  &__content-panel-status {
    padding: 0.4rem 0.8rem;
    background: $mainColor;
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__content-panel-like {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &.active {
      svg path {
        fill: $mainColor;
      }
    }
  }

  &__swiper {
    margin-bottom: 1rem;
  }

  &__slider {
    margin-bottom: 2rem;
  }

  &__bullets {
    span {
      width: 100%;
    }
  }

  &__swiper-slide {
    height: 14rem;
    width: 20.5rem;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    height: 100%;
    p {
      color: $black;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
      height: 100%;
      justify-content: space-between;
    }
  }

  &__btn-buy {
    column-gap: 1.2rem;
    justify-content: flex-start;
    .btn-arrows__title {
      color: $black;
      font-family: Gilroy, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      text-transform: inherit;
    }
  }
}
