.card {
  position: relative;

  &-available {
    .card__content-panel {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    padding: 2rem 2rem 3.2rem 2rem;
    background: $white;
    max-width: 29.5rem;
    height: 100%;
    border: $border;
    border-color: transparent;
    display: flex;
    flex-direction: column;

    &:hover {
      border-color: $mainColor;
    }
  }

  &__content-panel {
    margin-bottom: 0.5rem;
  }

  &__content-panel-status {
    padding: 0.4rem 0.8rem;
    background: $mainColor;
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__content-panel-like {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &.active {
      svg path {
        fill: $mainColor;
      }
    }
  }

  &__swiper {
    margin-bottom: 1rem;
  }

  &__slider {
    margin-bottom: 2rem;
  }

  &__bullets {
    span {
      width: 100%;
    }
  }

  &__swiper-slide {
    height: 14rem;
    width: 20.5rem;
    cursor: pointer;
    img {
      height: 100%;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    height: 100%;
    p {
      color: $black;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
      height: 100%;
      justify-content: space-between;
    }
  }

  &__btn-buy {
    column-gap: 1.2rem;
    justify-content: flex-start;
    display: none;
    height: 2.3rem;
    .btn-arrows__title {
      color: $black;
      font-family: Gilroy, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      text-transform: inherit;
    }
    &.active {
      display: flex;
    }
  }

  &__modal {
    position: absolute;
    top: 11rem;
    left: calc(50% - 20rem / 2);
    z-index: 10;
    display: none;
  }

  &__modal-content {
    display: flex;
    width: 20.3rem;
    background: $mainColor;
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
  }

  &__modal-content-text {
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__modal-content-icon {
    width: 3rem;
    height: 3rem;
    background: $white;
    flex-shrink: 0;
  }

  .input-count {
    display: none;
    input {
      font-weight: 700;
      border: 0;
      height: 2.3rem;
    }

    .number-minus,
    .number-plus {
      width: 1.2rem;
    }

    &.active {
      display: flex;
    }
  }
}

@media screen and (max-width: 48em) {
  .card {
    &__content {
      padding: 2.8vw 2.8vw 5vw 2.8vw;
      max-width: 46vw;
      height: 100%;
    }

    &__content-panel {
      margin-bottom: 0;
      align-items: center;
    }

    &__content-panel-status {
      padding: 1.6vw 1.1vw;
      font-size: 3.4vw;
    }

    &__content-panel-like svg {
      width: 5.3vw;
      height: 5.3vw;
    }

    &__swiper {
      margin-bottom: 1rem;
    }

    &__slider {
      margin-bottom: 5.3vw;
    }

    &__swiper-slide {
      height: 28vw;
    }

    &__content-info {
      row-gap: 2.2vw;

      p {
        font-size: 3.2vw;
      }

      &-bottom {
        row-gap: 4.27vw;
      }
    }

    &__btn-buy {
      column-gap: 3.2vw;

      .btn-arrows__title {
        font-size: 4vw;
        line-height: 110%;
      }
    }

    &__modal {
      top: 20vw;
      left: calc(50% - 20vw);
    }

    &__modal-content {
      width: 40vw;
      padding: 2.2vw;
      column-gap: 4vw;
    }

    &__modal-content-text {
      font-size: 3.2vw;
    }

    &__modal-content-icon {
      width: 5.3vw;
      height: 5.3vw;
    }

    .input-count {
      input {
        font-weight: 700;
        border: 0;
        height: 2.3rem;
      }

      .number-minus,
      .number-plus {
        width: 2.8vw;
      }
    }
  }
}
