.choose-auto {
  &__form {
    padding: 2rem 3.2rem;
    background: rgba(255, 255, 255, 0.35);
    display: flex;
    align-items: center;
    column-gap: 2rem;
    position: relative;
    border: $border;

    .input-datalist-form {
      width: 36rem;

      .input-datalist-form__block {
        margin-bottom: 0;
      }
    }
  }

  &__form-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.6rem;
  }

  &__change-arrow {
    width: 5.3vw;
    height: 5.3vw;
    transform: rotate(90deg);
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__form-change-btn {
    padding: 1rem 2rem;
    background: $mainColor;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    width: 29.6rem;
  }

  &__form-change-btn-icon {
    width: 4.3rem;
    height: 4.3rem;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &__form-change-btn-text {
    color: $white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__btn {
    padding: 0;
    margin: 0;
    background: none;
    width: fit-content;
    height: fit-content;
    transition: all 0.2s ease-in-out;

    span {
      color: $black;
    }

    img:nth-child(2) {
      display: block;
    }

    img:nth-child(3) {
      display: none;
    }

    &:not(:disabled) {
      &:hover {
        background: none;
        transition: all 0.2s ease-in-out;

        span {
          color: $mainColor;
        }

        img:nth-child(3) {
          display: block;
        }

        img:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &__history {
    position: absolute;
    background: $white;
    top: 9rem;
    z-index: 2;
    padding: 2rem;
    display: none;
  }

  &__history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: $border;
    border-color: $greyLight;
    column-gap: 1.5rem;

    &:first-child {
      border-top: $border;
      border-color: $greyLight;
    }

    &.active .choose-auto__history-item-icon {
      display: flex;
    }
  }

  &__history-item-icon {
    width: 2.3rem;
    height: 2.3rem;
    background: $mainColor;
    display: none;
    align-items: center;
    justify-content: center;

    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__history-item-text {
    color: $black;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
    width: 30rem;
  }

  &__history-item-btn {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    width: fit-content !important;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 48em) {
  .choose-auto {
    background: $background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    padding: 0 2.8vw 10.6vw 2.8vw;
    flex-direction: column;
    row-gap: 6.4vw;
    overflow: scroll;
    transform: translateX(100%);
    justify-content: space-between;
    transition: 0.2s all linear;
    margin: 0;

    &.active {
      transform: translateX(0);
    }

    .input-datalist-form {
      width: 100%;
      &__blocks {
        flex-direction: column;
        width: 100%;
      }
      .input-datalist-form {
        width: 100%;
      }
    }

    &__inputs {
      flex-direction: column;
      width: 100%;
    }

    &__btn {
      align-items: end;
      span {
        font-size: 4.27vw;
      }
      img {
        width: 6.4vw;
        height: 4.2vw;
      }
    }

    &__close {
      width: 5.3vw;
      height: 5.3vw;
      position: absolute;
      top: 5.3vw;
      right: 5.3vw;
    }

    &__form {
      margin-top: 16vw;
      display: flex;
      flex-direction: column;
      min-height: 90%;
      height: fit-content;
      justify-content: space-between;
      position: relative;
      width: 100%;
      border: 0;
      padding: 0;
      background: none;
      row-gap: 8vw;
    }

    &__form-inputs {
      flex-direction: column;
      width: 100%;
    }

    &__form-change {
      width: 100%;
    }

    &__form-change-btn {
      padding: 2.8vw;
      column-gap: 3.2vw;
      width: 100%;
      &.active {
        .choose-auto__form-change-btn-arrow {
          transform: rotate(270deg);
        }
      }
    }

    &__form-change-btn-arrow {
      width: 5.3vw;
      height: 5.3vw;
      transition: all 0.2s ease-in-out;
      transform: rotate(90deg);
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__form-change-btn-icon {
      width: 9vw;
      height: 9vw;

      img {
        width: 5.3vw;
        height: 5.3vw;
      }
    }

    &__form-change-btn-text {
      font-size: 3.8vw;
      line-height: 130%;
      width: 75%;
    }

    &__change-btn {
      width: 100%;
    }

    &__history {
      position: relative;
      top: 0;
      left: 0;
      box-shadow: none;
    }

    &__history-item {
      padding: 4.27vw 0;
      column-gap: 1vw;
    }

    &__history-item-icon {
      width: 5.3vw;
      height: 5.3vw;

      img {
        width: 2.8vw;
        height: 2.8vw;
      }
    }

    .input-datalist-form__list {
      position: relative;
      top: 0;
    }

    &__history-item-text {
      font-size: 3.6vw;
      line-height: 120%;
      width: 85%;
    }

    &__history-item-btn {
      width: 4.27vw;
      height: 4.27vw;

      img {
        object-fit: cover;
      }
    }

    &__btns {
      display: flex;
      column-gap: 2.8vw;
      width: 100%;
    }

    &__btns-reset,
    &__btns-submit {
      padding: 7.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5.3vw;
      width: 46vw;

      span {
        font-family: Gilroy, sans-serif;
        font-size: 4vw;
        font-weight: 700;
        line-height: 110%;
      }

      img {
        width: 6.5vw;
      }

      &:disabled {
        opacity: 0.4;
        cursor: auto;
      }
    }

    &__btns-reset {
      background: $white;
      span {
        color: $black;
      }
    }

    &__btns-submit {
      background: $mainColor;
      span {
        color: $white;
      }
    }

    .input-datalist-form {
      padding-top: 0;
      &:first-child {
        padding-top: 2.8vw;
      }
    }
  }
}
