.footer {
  background: $greyLight;

  &__container {
    padding: 8rem 0;
  }

  &__top {
    display: flex;
    column-gap: 16.8rem;
    padding-bottom: 4rem;
    border-bottom: 0.1rem solid $grey;
  }

  &__top-menu {
    display: flex;
    column-gap: 3rem;
  }

  &__top-menu-item-title {
    font-family: 'Good Timing', sans-serif;
    color: $black;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 2rem;
  }

  &__top-menu-item-list {
    width: 24.5rem;
    li {
      color: $black;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
      &:hover {
        color: $mainColor;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__top-contact {
    display: flex;
    flex-direction: column;
    row-gap: 3.3rem;
  }

  &__top-contact-items {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__top-contact-item {
    div {
      color: $grey;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
    }
    a {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &__bottom {
    padding-top: 2.4rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__bottom-left {
    display: flex;
    column-gap: 3rem;
    li {
      color: $grey;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
      &:not(:first-child):hover {
        color: $black;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__bottom-right {
    display: flex;
    column-gap: 1.5rem;
    align-items: flex-end;
  }

  &__bottom-right-desc {
    span {
      color: $grey;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;
    }
    div {
      color: $black;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__bottom-right-logo {
    width: 3.8rem;
    height: 3.8rem;
  }
}
