.form {
  &__item {
    &:not(:last-child) {
      margin-bottom: 4.8rem;
    }

    legend {
      margin-bottom: 3.2rem;
    }

    p {
      color: $grey;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      max-width: 58rem;
      margin-top: 2rem;
    }
  }

  &-btn-reset {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;

    &:not([disabled]):hover {
      color: $black;
      transition: all 0.2s ease-in-out;
    }

    &:disabled {
      opacity: 0.4;
      cursor: auto;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 48em) {
  .form {
    &__item {
      &:not(:last-child) {
        margin-bottom: 6.4vw;
      }

      legend {
        margin-bottom: 7.5vw;
        font-size: 4.27vw;
        line-height: 110%;
      }
    }

    &-btn-reset {
      font-size: 4vw;
      line-height: 130%;
    }
  }
}
