.header {
  background: $background;
  position: relative;

  &.active {
    z-index: 10;
  }

  &__top,
  &__bottom {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 4;
  }

  &__top-logo {
    width: 18rem;
    height: 6.5rem;
    margin-right: 8.7rem;
  }

  &__top-search {
    width: 75rem;
    padding: 2.1rem 4rem;
    border-left: 0.2rem solid rgba(255, 255, 255, 0.8);
    border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-items {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    li {
      list-style-type: none;
    }
    a {
      display: flex;
      column-gap: 0.8rem;
      color: $black;
      text-align: right;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 130%;
      span {
        text-align: right;
        font-family: 'Gilroy', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 130%;
        color: $mainColor;
      }
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
      &:hover {
        color: $mainColor;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1rem 0;
  }

  &__bottom-btn {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background: $mainColor;
    padding: 2rem 4rem;
    &-icon {
      background: url('../img/icon/catalog-btn.svg') no-repeat center;
      background-size: cover;
      width: 2.4rem;
      height: 2.4rem;
    }
    span {
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
    }
    &:hover {
      background: $black;
      transition: all 0.4s ease-in-out;
    }
    &.active {
      .header__bottom-btn-icon {
        background: url('../img/icon/close-white.svg') no-repeat center;
        background-size: cover;
      }
    }
  }

  &__bottom-items {
    display: flex;
    column-gap: 4rem;
    > button {
      color: $black;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 130%;
      &:hover {
        color: $mainColor;
        transition: all 0.4s ease-in-out;
      }
      &.active {
        color: $mainColor;
      }
    }
  }

  &__bottom-buttons {
    display: flex;
    background: #ffffff;
    padding: 1.3rem 2.2rem;
    position: relative;
  }

  &__bottom-button {
    &:not(:last-child) {
      border-right: 0.2rem solid $greyLight;
    }
  }

  &__bottom-button {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    > button {
      padding: 1rem;
      display: flex;
      justify-content: center;
      &.active {
        background: $mainColor;
        svg path {
          fill: #ffffff;
        }
      }
    }
  }
}

.header__bottom-button-content {
  background-color: $white;
  padding: 2rem;
  width: 40rem;
  position: absolute;
  top: 9rem;
  right: 0;
  z-index: 10;
  display: none;

  &-empty,
  &-fill {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    button {
      width: 100%;
    }
  }

  &-text {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
  }

  .btn-form {
    padding: 2.8rem;
    span {
      font-size: 1.6rem;
    }
  }
}

.content-acc {
  row-gap: 2rem;

  &-btn {
    column-gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    span {
      color: $black;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }

    &:nth-child(1):hover,
    &:nth-child(2):hover {
      transition: all 0.4s ease-in-out;

      span {
        color: $mainColor;
      }

      svg path {
        fill: $mainColor;
      }
    }

    &:nth-child(3):hover {
      transition: all 0.4s ease-in-out;

      span {
        color: $mainColor;
      }

      svg path {
        stroke: $mainColor;
      }
    }
  }
}

.content-history {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-reset {
      padding: 0;
      width: auto;
    }
  }

  &__title-text {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__items-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: $border;
    border-color: $greyLight;
    &:first-child {
      border-top: $border;
      border-color: $greyLight;
    }
    &.active .content-history__items-item-icon {
      display: flex;
    }
  }

  &__items-item-icon {
    width: 2.3rem;
    height: 2.3rem;
    background: $mainColor;
    display: none;
    align-items: center;
    justify-content: center;
    img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__items-item-text {
    color: $black;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
    width: 30rem;
  }

  &__items-item-btn {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    width: fit-content !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.content-basket {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-reset {
      padding: 0;
      width: auto;
    }
  }

  &__title-text {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__items-item {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
    border-bottom: $border;
    border-color: $greyLight;
    &:first-child {
      border-top: $border;
      border-color: $greyLight;
    }
    img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }

  &__items-item-desc {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  &__items-item-desc-top {
    display: flex;
    column-gap: 1rem;
  }

  &__items-item-desc-top-title {
    color: $black;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
  }

  &__items-item-desc-top-close {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    width: fit-content !important;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__items-item-desc-bottom {
    display: flex;
    justify-content: space-between;

    div {
      color: $black;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }
  }

  &__result {
    display: flex;
    justify-content: space-between;
    div {
      color: $black;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 130%;
    }
  }
}

.header__bottom-category,
.header__bottom-menu {
  min-height: 71.5rem;
  width: 100%;
  position: absolute;
  left: 0;
  background: $background;
  top: 10rem;
  display: none;
  z-index: 8;

  &-btn {
    position: absolute;
    top: 4.8rem;
    right: 16rem;
  }
}

.header__bottom-category {
  display: flex;
  column-gap: 6.6rem;
  padding: 2rem 18rem 2rem 15rem;

  &-menu {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    border-right: $border;
    width: fit-content;
  }

  &-btn {
    width: 2.4rem;
    height: 2.4rem;
  }

  &-menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    column-gap: 1.2rem;
    width: 36rem;
    border: 0.1rem solid transparent;

    &.active {
      border: 0.1rem solid rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.35);

      .header__bottom-category-menu-btn-icon {
        background: $mainColor;
        svg path {
          fill: $white;
        }
      }
    }
  }

  &-menu-btn-icon {
    width: 4.3rem;
    height: 4.3rem;
    background: $greyLight;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  &-menu-btn-name {
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    width: 100%;
  }

  &-menu-btn-arrow {
    transform: rotate(-90deg);
    width: 2.4rem;
    height: 2.4rem;
    img {
      object-fit: cover;
    }
  }

  &-content-title {
    color: $black;
    font-family: Good Timing, sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 2.7rem;
  }

  &-content-items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 101%;
    height: 63rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 0.5rem;
    }
  }

  &-content-items-item {
    border: $border;
    align-items: center;
    background: rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    padding: 2rem 8rem;
  }

  &-content-items-item-title {
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &-content-items-item-img {
    width: 9rem;
    height: 9rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header__bottom-menu {
  padding: 4.8rem 18rem 4.8rem 16rem;
  &-items {
    display: flex;
    column-gap: 2rem;
    row-gap: 2.5rem;
    flex-wrap: wrap;
  }

  &-items-item {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    width: 24.6rem;
  }

  &-items-item-title {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
    img {
      display: none;
    }
  }

  &-items-item-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    max-height: 54rem;
    overflow-y: scroll;
    padding-right: 0.6rem;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 0.5rem;
    }

    a {
      color: $black;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 120%;

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        color: $mainColor;
      }
    }
  }

  &-btn-close {
    color: $mainColor;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    margin-top: 2rem;
  }
}

.close-details {
  width: 2.4rem;
  height: 2.4rem;
  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 48em) {
  .header {
    &__top {
      border: 0;
    }

    &__container {
      padding: 4.27vw 0 0 0;
    }

    &__top-logo {
      width: 25vw;
      height: 10vw;
      margin-right: 0;
      border-bottom: 0;
    }

    &__top-items-btns {
      display: flex;
      button {
        background-color: $white;
        width: 10.7vw;
        height: 10.7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          border-right: $border;
          border-color: $greyLight;
        }
        img {
          width: 5.3vw;
          height: 5.3vw;
        }
      }
    }

    .burger-open {
      div {
        background: url('../img/icon/burger-blue.svg') no-repeat center;
        width: 5.3vw;
        height: 5.3vw;
        background-size: cover;
      }
      &.active div {
        background: url('../img/icon/close-blue.svg');
        width: 5.3vw;
        height: 5.3vw;
        background-size: cover;
      }
    }

    &__bottom-btn {
      width: 15vw;
      height: 15vw !important;

      &-icon {
        width: 5.3vw;
        height: 5.3vw;
      }
    }

    &__bottom-items {
      column-gap: 5.3vw;
      width: 100%;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      > button {
        font-size: 4vw;
        line-height: 130%;
      }
    }

    &__bottom-buttons {
      padding: 2.8vw 3.2vw;
      position: fixed;
      width: 95.4%;
      bottom: 3.75vw;
      z-index: 10;
      column-gap: 2vw;
      box-shadow: 0px 0px 25px 0px rgba(153, 173, 187, 0.15);
      justify-content: space-between;
    }

    &__bottom-button {
      padding: 0;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      > button {
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        align-items: center;
        justify-content: center;
        &.active {
          &:not(.header__bottom-btn) {
            background: transparent;
          }
          svg path {
            fill: $mainColor;
          }
          span {
            color: $mainColor;
          }
        }
        span {
          color: $grey;
          font-size: 3.2vw;
          font-weight: 500;
          line-height: 130%;
        }
      }

      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  .header__bottom-button-content {
    padding: 4vw;
    width: 100%;
    top: inherit;
    bottom: 23vw;
    left: 0;

    &-empty,
    &-fill {
      row-gap: 2.8vw;
    }

    &-text {
      font-size: 3.8vw;
      line-height: 130%;
    }

    .btn-form {
      padding: 3.8vw;

      span {
        font-size: 3.2vw;
      }
    }
  }

  .content-acc {
    row-gap: 4vw;

    &-btn {
      column-gap: 4vw;

      span {
        font-size: 3.8vw;
      }
    }

    svg {
      width: 5.3vw;
      height: 5.3vw;
    }
  }

  .content-history {
    &__title-text {
      font-size: 4.27vw;
      line-height: 120%;
    }

    &__items-item {
      padding: 2.8vw 0;
      column-gap: 4vw;
    }

    &__items-item-icon {
      width: 5.3vw;
      height: 5.3vw;
      flex-shrink: 0;

      img {
        width: 2.8vw;
        height: 2.8vw;
      }
    }

    &__items-item-text {
      font-size: 3.6vw;
      line-height: 120%;
      width: 100%;
    }

    &__items-item-btn {
      width: 4.27vw;
      height: 4.27vw;
    }
  }

  .content-basket {
    &__title-text {
      font-size: 4vw;
    }

    &__items-item {
      padding: 2.8vw 0;

      img {
        width: 10vw;
        height: 10vw;
      }
    }

    &__items-item-desc-top-title {
      font-size: 3.2vw;
    }

    &__items-item-desc-top-close {
      width: 4vw;
      height: 4vw;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__items-item-desc-bottom {
      div {
        font-size: 3.2vw;
      }
    }

    &__result {
      div {
        font-size: 3.2vw;
      }
    }
  }

  .header__bottom-menu {
    padding: 17vw 2.8vw 2.8vw 2.8vw;

    &-items {
      row-gap: 6.4vw;
      flex-direction: column;
    }

    &-items-item {
      width: 100%;
    }

    &-items-item-title {
      font-size: 4vw;
      line-height: 130%;
      column-gap: 2.8vw;
      display: flex;
      justify-content: space-between;
      img {
        width: 4.8vw;
        height: 4.8vw;
        transition: all 0.4s ease-in-out;
        display: block;
      }
      &.active {
        img {
          transform: rotate(180deg);
          transition: all 0.4s ease-in-out;
        }
      }
    }

    &-items-item-list {
      padding-top: 6.4vw;
      row-gap: 4.27vw;
      max-height: 80vw;

      a {
        font-size: 3.8vw;
        line-height: 130%;
      }
    }

    &-btn {
      top: 6.4vw;
      right: 2.4vw;
      width: 5.3vw;
      height: 5.3vw;
    }

    &-btn-close {
      font-size: 4vw;
      line-height: 130%;
      margin-top: 5.3vw;
    }
  }

  .header__menu-mob {
    background: $background;
    width: 100%;
    height: calc(100% - 23rem);
    top: 23rem;
    left: 0;
    position: fixed;
    z-index: 10;
    padding: 0 2.8vw 10.6vw 2.8vw;
    flex-direction: column;
    row-gap: 6.4vw;
    overflow: scroll;
    transform: translateX(100%);
    transition: 0.4s all ease-in-out;

    &.active {
      transform: translateX(0);
    }

    &-btns {
      display: flex;
      -webkit-column-gap: 5.3vw;
      column-gap: 5.3vw;
      width: 100%;
      // overflow-x: scroll;
      button {
        font-size: 4vw;
        line-height: 130%;
        color: $black;
        font-weight: 600;
      }
    }

    &-ul {
      width: 100%;
      li {
        padding: 5.3vw 0;
        border-bottom: $border;
        border-width: 2px;
        a {
          color: $black;
          font-size: 4.27vw;
          font-weight: 500;
          line-height: 120%;
        }
      }
    }

    &-item-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 4.27vw 2.8vw;
      column-gap: 3.2vw;
      border: $border;
      border-color: transparent;
      &.active {
        border: $border;
        background: rgba(255, 255, 255, 0.35);
        .header__menu-mob-item-inner-arrow img {
          transform: rotate(180deg);
          transition: all 0.4s ease-in-out;
        }
      }
    }

    &-item-inner-icon {
      width: 10.2vw;
      height: 10.2vw;
      background: $mainColor;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      img {
        width: 5.3vw;
        height: 5.3vw;
        object-fit: cover;
      }
    }

    &-item-inner-name {
      color: $black;
      font-size: 4vw;
      font-weight: 500;
      line-height: 130%;
      width: 100%;
    }

    &-item-inner-arrow {
      width: 4vw;
      height: 4vw;
      flex-shrink: 0;
      transition: all 0.4s ease-in-out;
      img {
        transition: all 0.4s ease-in-out;
      }
    }

    &-item-content {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2.8vw;
      column-gap: 2.8vw;
      align-items: center;
      justify-content: space-between;
      padding-top: 5.3vw;
    }

    &-item-content-item {
      border: $border;
      background: $background;
      padding: 5.3vw 6.4vw;
      display: flex;
      flex-direction: column;
      row-gap: 4.27vw;
      width: calc(50% - 2.8vw / 2);

      span {
        color: $black;
        text-align: center;
        font-size: 4vw;
        font-weight: 500;
        line-height: 130%;
      }
      img {
        width: 100%;
        height: 21vw;
        object-fit: cover;
      }
    }

    &-blocks {
      display: flex;
      flex-direction: column;
      row-gap: 5.3vw;
    }

    &-block {
      display: flex;
      flex-direction: column;
      row-gap: 1vw;
      div {
        &:first-child {
          color: $grey;
          font-size: 4vw;
          font-weight: 500;
          line-height: 130%;
        }
        &:last-child {
          color: $black;
          font-size: 4vw;
          font-weight: 600;
          line-height: 130%;
        }
      }

      a {
        color: $black;
        font-size: 4vw;
        font-weight: 600;
        line-height: 130%;
        &:hover {
          transition: all 0.4s ease-in-out;
          color: $mainColor;
        }
      }
    }
  }

  .header__menu-catalog-mob {
    background: $background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    padding: 0 2.8vw 10.6vw 2.8vw;
    flex-direction: column;
    row-gap: 6.4vw;
    overflow: scroll;
    transform: translateX(100%);
    transition: 0.4s all ease-in-out;

    &.active {
      transform: translateX(0);
    }

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.2vw 0;
      border-bottom: $border;
    }

    &-title-logo {
      width: 26vw;
      height: 10vw;
      img {
        object-fit: cover;
      }
    }

    &-title-btn {
      width: 5.3vw;
      height: 5.3vw;
      object-fit: cover;
    }
  }
}
