input[type='text'],
input[type='email'],
input[type='password'],
input[type='phone'],
textarea {
  padding: 1.2rem 5rem 1.2rem 2rem;
  border: none;
  background: $white;
  color: $black;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  resize: none;
  position: relative;
  width: 100%;
  border: 0.2rem solid transparent;

  &::placeholder {
    color: $grey;
  }

  &:focus {
    border: 0.2rem solid $mainColor;
  }
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.input__block {
  position: relative;
  button {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    right: 2rem;
    top: 1.8rem;
    display: none;
  }
  span {
    color: #df3030;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    margin: 0.4rem 0 0 2rem;
    display: none;
  }
  //Если инпут заполнен некорректно
  &.error {
    span {
      display: block;
    }
    input {
      color: $red;
      &::placeholder {
        color: $red;
      }
      &:focus {
        border-color: $red;
      }
    }

    .entrance__recovery-error {
      display: block;
    }
  }

  &-pass {
    button {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      top: 1.4rem;
    }
    img:first-child {
      display: block;
    }
    img:last-child {
      display: none;
    }
  }
  &.open {
    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
  }
}

.input {
  &-address {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2.4rem;

    &__inputs {
      display: flex;
      column-gap: 2.4rem;
    }

    .input-datalist-form {
      width: 50%;
    }

    .input-datalist-form__block {
      padding: 1.2rem 2rem;
      margin: 0;
    }

    .input-datalist-form__block-input::placeholder,
    .input-datalist-form__block-input {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
      height: auto;
    }

    .input-datalist-form__list {
      top: 4.8rem;
    }

    .input-datalist-form__block-input::placeholder {
      color: $grey;
    }

    .btn-arrows {
      justify-content: flex-start;

      .btn-arrows__title {
        font-family: Gilroy, sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: none;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;

      span {
        color: $grey;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
      }
    }
  }

  &-radio {
    margin-bottom: 2rem;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &__inp {
      border: $border;
      column-gap: 1.2rem;
      padding: 1rem 2.4rem;
      background: rgba(255, 255, 255, 0.35);
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      input:checked {
        & ~ label::after {
          content: '';
          width: 30rem;
          height: 50rem;
          transform: rotate(-90deg);
          flex-shrink: 0;
          background: rgba(78, 193, 193, 0.5);
          filter: blur(25rem);
          position: absolute;
          right: 10rem;
          top: -12rem;
          display: block;
          z-index: -1;
        }
      }

      label {
        color: $black;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 130%;
        cursor: pointer;
        width: 100%;
        display: flex;
        column-gap: 1.2rem;
        align-items: center;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          background: url('../img/icon/radio-button-order-form.svg') 0 0 no-repeat;
          background-size: contain;
        }
      }

      input[type='radio'] {
        display: none;

        &:checked + label:before {
          background: url('../img/icon/radio-button-order-form-checked.svg') no-repeat;
          background-size: contain;
        }
      }
    }

    &__panel {
      display: flex;
      column-gap: 2rem;
      padding: 1.5rem 0;

      a svg {
        width: 2.4rem;
        height: 2.4rem;
        display: inline-block;

        &:hover path {
          fill: $mainColor;
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  &__slide-content {
    display: none;
  }

  &-count {
    display: inline-flex;
    align-items: center;
    position: relative;
    left: -1rem;

    input {
      border: $border;
      border-color: $mainColor;
      border-width: 0.2rem;
      color: $black;
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
      width: 4.3rem;
      height: 4.3rem;
    }
  }

  &-checkbox {
    display: block;
    margin: 0 0 5rem 0;
    cursor: pointer;
    user-select: none;
    position: relative;
    input[type='checkbox'] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
  }

  &-checkbox span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 4rem;
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    &::before {
      content: '';
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border: $border;
      position: absolute;
      left: 0;
      top: 0.5rem;
      background: none;
    }
  }

  &-checkbox input[type='checkbox']:checked + span:before {
    border: 2px solid $mainColor;
    background-color: $white;
    background-position: 50% 50%;
    background-size: 2.5rem 2.5rem;
    background-repeat: no-repeat;
    background-image: url('../img/icon/check-blue.svg');
  }
}

.input-radio__backg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;

  &::after {
    content: '';
    width: 30rem;
    height: 50rem;
    transform: rotate(-90deg);
    flex-shrink: 0;
    background: rgba(78, 193, 193, 0.5);
    filter: blur(25rem);
    position: absolute;
    right: 10rem;
    top: -12rem;
    display: block;
    z-index: -1;
  }
}

.input-datalist-form {
  position: relative;
  &__block {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 1.2rem;
    background-color: $white;
    margin-bottom: 1rem;
    cursor: pointer;

    &.active {
      .input-datalist-form__block-arrow {
        transform: rotate(-90deg);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &.checked {
    .input-datalist-form__block-icon {
      transition: all 0.5s;
      color: $white;
      background: $mainColor;
    }
  }

  &__block-arrow {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    transition: all 0.5s ease-in-out;
    img {
      width: 100%;
      height: 100%;
      transform: rotate(180deg);
    }
  }

  &__block-input {
    border: 0;
    height: 4.3rem;
    width: 100%;
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;

    &::placeholder {
      color: $grey;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }
  }

  &__block-icon {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
    padding: 1.4rem;
    background: $greyLight;
    color: $grey;
    transition: all 0.5s ease-in-out;
  }

  &__list {
    position: absolute;
    background-color: $white;
    border-top: none;
    font-family: sans-serif;
    justify-content: space-between;
    width: 100%;
    top: 6.2rem;
    left: 0;
    padding: 1rem 2rem 1rem 1.5rem;
    column-gap: 2rem;
    z-index: 10;
  }

  &__list-datalist {
    max-height: 20rem;
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $greyLight;
      border: 0.4rem solid $greyLight;
      position: relative;
      left: -1rem;
      border-radius: 4px;
    }

    option {
      background-color: $white;
      color: $black;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 130%;
      cursor: pointer;
      padding-bottom: 0.8rem;
      width: calc(50% - 2rem);
      overflow-x: hidden;

      &:hover,
      &.active {
        color: $mainColor;
        transition: all 0.5s;
      }
    }

    &.active {
      display: flex;
    }
  }

  &__list-reset {
    color: $grey;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 0.8rem;
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='phone'],
  textarea {
    padding: 3vw 11vw 3vw 4.27vw;
    font-size: 3.76vw;
  }

  .input-radio__backg::after {
    width: 65vw;
    height: 65vw;
    top: 5vw;
    right: -40vw;
  }

  .input__block {
    button {
      width: 4.2vw;
      height: 4.2vw;
      top: calc(50% - 4.2vw / 2);
    }
    span {
      font-size: 4.27vw;
    }
  }

  .input {
    &-address {
      row-gap: 5.3vw;
      &__inputs {
        flex-direction: column;
        row-gap: 2.8vw;
      }

      .input-datalist-form {
        width: 100%;
        padding: 0;
      }

      .input-datalist-form:first-child {
        padding-top: 0;
      }

      .input-datalist-form__block {
        padding: 3.2vw 4.27vw;
      }

      .input-datalist-form__block-input::placeholder,
      .input-datalist-form__block-input {
        font-size: 3.8vw;
      }

      .input-datalist-form__list {
        top: 11.5vw;
      }

      .input-datalist-form__block-input::placeholder {
        color: $grey;
      }

      .btn-arrows {
        .btn-arrows__title {
          font-size: 4vw;
        }
      }

      &__text {
        max-width: 68vw;
        span {
          font-size: 4vw;
        }
      }
    }

    &-radio {
      &:not(:last-child) {
        margin-bottom: 5.3vw;
      }

      &__inp {
        column-gap: 3.2vw;
        padding: 3.6vw 2.8vw;

        label {
          font-size: 4.2vw;
          line-height: 130%;
          column-gap: 3.2vw;

          &:before {
            height: 5.3vw;
            width: 5.3vw;
            flex-shrink: 0;
          }
        }
      }

      &__panel {
        justify-content: space-between;
        padding: 0;
        flex-direction: column-reverse;
        row-gap: 4vw;

        button svg {
          width: 5.3vw;
          height: 5.3vw;
        }
      }
    }

    &-count {
      input {
        font-size: 4.27vw;
        line-height: 140%;
        width: 7.5vw;
        height: 7.5vw;
      }
    }

    &-checkbox span {
      padding: 0 0 0 8vw;
      font-size: 3.75vw;
      line-height: 130%;

      &::before {
        width: 5.3vw;
        height: 5.3vw;
      }
    }

    &-checkbox input[type='checkbox']:checked + span:before {
      background-size: 4.27vw 4.27vw;
    }
  }

  .input-datalist-form {
    padding: 2vw 0 2vw 0;
    &:first-child {
      padding-top: 2vw;
    }
    &__block {
      column-gap: 4vw;
      padding: 3.2vw 5.33vw 3.2vw 4vw;
    }

    &__block-arrow {
      width: 5.3vw;
      height: 5.3vw;
    }

    &__block-input {
      width: 100%;
      font-size: 4.27vw;
      line-height: 130%;

      &::placeholder {
        font-size: 4.27vw;
        font-weight: 600;
        line-height: 130%;
      }
    }

    &__block-icon {
      font-size: 3.75vw;
      line-height: 130%;
      padding: 2.4vw 2.7vw 2.4vw 2.7vw;
    }

    &__list {
      top: 17vw;
      padding: 2.8vw 5.3vw;
    }

    &__list-datalist {
      max-height: 35vw;
    }

    option {
      font-size: 4vw;
      line-height: 130%;
      padding-bottom: 2.1vw;
      width: calc(50% - 2rem);
    }

    &__list-reset {
      font-size: 4.2vw;
      margin-bottom: 2.1vw;
    }
  }
}
