.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $overlayBackground;
  backdrop-filter: blur(1rem);
  overflow: auto;
  z-index: -100;
  opacity: 0;
  transition: opacity 500ms, z-index 250ms;

  &.active {
    z-index: 50000;
    opacity: 1;
    transition: opacity 500ms, z-index 1ms;
    .modal__inner {
      transform: scale(1);
      opacity: 1;
      transition: transform 700ms, opacity 250ms;
    }
  }

  &__title {
    color: $black;
    font-family: Good Timing, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
  }

  &__inner {
    width: fit-content;
    position: relative;
    z-index: 2;
    margin: auto;
    transform: scale(0.1);
    opacity: 0;
    transition: transform 700ms, opacity 250ms;
  }

  &__content {
    margin: 0 auto;
    border: $border;
    background: $background;
  }

  &__content-close {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 2;
    cursor: pointer;
  }

  &__content-close img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  &__content-brand-info {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;
    max-width: 61rem;
    padding: 6rem;
  }

  &__content-brand-info-logo {
    width: 14rem;
    height: 6rem;
  }

  &__content-brand-info-descs {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  &__content-brand-info-desc {
    display: flex;
    column-gap: 1.2rem;
    align-items: center;
    img {
      width: 2.4rem;
      height: 2.4rem;
    }
    p,
    span {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
    }
    p {
      color: $grey;
    }
    span {
      color: $black;
    }
  }

  &__content-brand-info-text {
    p {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      padding-left: 1.6rem;
      color: $black;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 0.2rem;
        height: 1.6rem;
        background: $watermarkBackground;
        display: block;
        left: 0;
        top: 0.5rem;
      }
    }
  }

  &__content-order-info {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 97rem;
    padding: 8rem;
    button {
      max-width: 43rem;
    }
  }

  &__content-order-info-content {
    overflow: auto;
    height: 45rem;
    &::-webkit-scrollbar {
      width: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $greyLight;
      border: 0.4rem solid $greyLight;
    }
  }

  &__content-order-info-content-lists {
    margin-right: 4rem;
  }

  &__content-order-info-content-lists-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: $border;
    &:first-child {
      border-top: $border;
    }
  }

  &__content-order-info-content-lists-item-submain {
    display: flex;
    justify-content: space-between;
    column-gap: 8rem;
  }

  &__content-order-info-content-lists-item-main {
    display: flex;
    column-gap: 2.4rem;
    align-items: center;
  }

  &__content-order-info-content-lists-item-main-img {
    width: 10.5rem;
    height: 10.5rem;
  }

  &__content-order-info-content-lists-item-main-desc {
    width: 38rem;
  }

  &__content-order-info-content-lists-item-main-desc-number {
    color: $black;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 130%;
    &:hover {
      color: $mainColor;
      transition: all 0.2s ease-in-out;
    }
  }

  &__content-order-info-content-lists-item-main-desc-title {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__content-entrance {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;
    width: 61rem;
    padding: 6rem;
  }
}

.modal__content-warning-order {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
  width: 61rem;
  padding: 6rem;
  align-items: center;
  justify-content: center;

  &-img {
    width: 3.4rem;
    height: 3.4rem;
    background: $mainColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .modal__title {
    text-align: center;
  }

  .btn-form {
    width: 31.5rem;
  }

  &-reg {
    color: $black;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 110%;
  }
}

.modal__content-update-pass {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  width: 58rem;
  padding: 6rem;

  .input__block {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  .btn-form {
    margin-top: 4.8rem;
    width: 100%;
  }
}

.modal__content-update-address {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  width: 58rem;
  padding: 6rem;
}
