.select {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  max-width: 17.6rem;
  justify-content: flex-end;
  width: 100%;

  img {
    width: 1.3rem;
  }
}

.select__head {
  cursor: pointer;
  color: $black;
  font-family: Gilroy, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__head::after {
  width: 2.3rem;
  height: 1rem;
  background: url('../img/icon/arrow-black.svg') no-repeat center;
  right: 2rem;
  bottom: 50%;
  transform: translateY(25%);
  content: '';
  display: block;
  transition: 0.2s ease-in;
}

.select__list {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: $white;
  margin-top: 0.5rem;
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin-top: 1rem;
  margin: 0;
  padding: 0;
  color: $black;
  font-family: Gilroy, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
  padding: 1rem;
}

.select__list .select__item {
  position: relative;
  border-bottom: $border;
  border-color: $greyLight;
  padding: 1.5rem;
  cursor: pointer;
  list-style-type: none;

  &:first-child {
    border-top: $border;
    border-color: $greyLight;
  }
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

.select__choose-auto {
  padding: 5.3vw 4.27vw;
  background: $white;
  margin-bottom: 8.5vw;
  column-gap: 3.2vw;
  align-items: center;

  .btn-arrows__img {
    flex-shrink: 0;
  }
}

.select__choose-auto-icon {
  width: fit-content;
  height: 6.4vw;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.select__choose-auto-name {
  color: $black;
  font-size: 4vw;
  font-weight: 700;
  line-height: 120%;
}
