$mainColor: #4ec1c1;
$black: #2c2a3b;
$grey: #98a0b1;
$greyLight: #f0f1f5;
$background: #eaebf0;
$watermarkBackground: rgba(255, 255, 255, 0.8);
$border: 0.2rem solid rgba(255, 255, 255, 0.8);
$overlayBackground: rgba(44, 42, 59, 0.4);
