.title {
  color: #2c2a3b;
  font-family: 'Good Timing', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.toggle-block-content {
  display: flex;
}

.hidden {
  overflow: hidden;
}

.subtitle {
  color: $black;
  font-family: Good Timing, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

html {
  scroll-behavior: smooth;
}

.search {
  padding: 1rem 1rem 1rem 2rem;
  background: $white;
  display: flex;
  column-gap: 2rem;
  position: relative;
  width: 100%;

  input {
    padding: 0 !important;
    border: none !important;
    margin-bottom: 0;
  }

  input::placeholder {
    color: #98a0b1;
  }
  input:focus {
    border: 0.2rem solid #4ec1c1;
  }
  button {
    background: #4ec1c1;
    width: 4.4rem;
    height: 4.4rem;
    flex-shrink: 0;
    img {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 auto;
    }
  }
}

body {
  background: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.main-overlay {
  background: rgba(44, 42, 59, 0.4);
  z-index: 6;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  &.active {
    display: block;
  }
}

main {
  flex: 1;
}

.left-body__bg,
.right-body__bg {
  border-radius: 48rem;
  background: rgba(78, 193, 193, 0.5);
  filter: blur(25rem);
  width: 48rem;
  height: 48rem;
  flex-shrink: 0;
  position: absolute;
}

.left-body__bg {
  left: -50rem;
}

.right-body__bg {
  top: 94rem;
  right: 0;
}

.price {
  color: $black;
  font-family: Gilroy;
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
  flex-shrink: 0;
  &__result-basket {
    font-size: 2.4rem;
    font-family: Good Timing, sans-serif;
  }
  &__basket {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.count {
  color: $black;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 130%;
}

.pagination__bullets {
  display: flex;
  justify-content: center;
  span {
    width: 3rem;
    height: 0.2rem;
    border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    background: $mainColor;
  }
}

.swiper__arrows {
  display: flex;
  column-gap: 2rem;
  button {
    width: 6.7rem;
    height: 6.7rem;
    border: 1px solid transparent;
    background: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper__arrows-prev.swiper-button-disabled,
.swiper__arrows-next.swiper-button-disabled {
  width: 6.7rem;
  height: 6.7rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: $greyLight;
  svg path {
    stroke: $grey;
  }
}

button,
a,
label,
input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 48rem) {
  .count {
    font-size: 3.2vw;
  }

  .price {
    font-size: 4vw;
  }

  .right-body__bg {
    top: auto;
    bottom: 0;
  }

  .subtitle {
    font-size: 4.27vw;
    line-height: 110%;
  }

  .pagination__bullets {
    span {
      height: 0.5vw;
    }
  }
  .search {
    padding: 3vw 4vw;
    background: $white;
    display: flex;
    column-gap: 2rem;
    position: relative;

    input {
      font-size: 3.6vw !important;
    }

    input::placeholder {
      color: #98a0b1;
    }

    input:focus {
      border: 0.2rem solid #4ec1c1;
    }

    button {
      width: 10.6vw;
      height: 10.1vw;

      img {
        width: 5.3vw;
        height: 5.3vw;
      }
    }
  }

  .count {
    font-size: 3vw;
  }

  .title {
    font-size: 7.1vw;
  }
}
