.title {
  color: #2c2a3b;
  font-family: 'Good Timing', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.subtitle {
  color: $black;
  font-family: Good Timing, sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.btn-arrows {
  display: flex;
  column-gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  &:hover {
    .btn-arrows__title {
      color: #4ec1c1;
      transition: all 0.2s ease-in-out;
    }
    .btn-arrows__img {
      background: url(../../img/icon/arrows-blue.svg) no-repeat center;
      background-size: cover;
      transition: all 0.2s ease-in-out;
    }
  }
}

.btn-arrows__title {
  color: #2c2a3b;
  font-family: 'Good Timing', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.btn-arrows__img {
  background: url(../../img/icon/arrows-black.svg) no-repeat center;
  background-size: cover;
  width: 3rem;
  height: 1.4rem;
}

.btn-form {
  display: flex;
  align-items: center;
  padding: 2.4rem 4rem;
  column-gap: 2rem;
  background: $mainColor;
  justify-content: center;

  span {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
  }

  img {
    width: 2.9rem;
    height: 1.4rem;
  }

  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }

  &:not([disabled]):hover {
    background: $black;
    transition: all 0.2s ease-in-out;
  }
}

html {
  scroll-behavior: smooth;
}

.search {
  position: relative;
  input {
    width: 100%;
    padding: 2rem;
    border: none;
    color: #2c2a3b;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    border: 0.2rem solid #f0f1f5;
  }
  input::placeholder {
    color: #98a0b1;
  }
  input:focus {
    border: 0.2rem solid #4ec1c1;
  }
  button {
    background: #4ec1c1;
    width: 4.4rem;
    height: 4.4rem;
    top: 1rem;
    right: 1rem;
    position: absolute;
    img {
      width: 2.4rem;
      height: 2.4rem;
      margin: 0 auto;
    }
  }
}

body {
  background: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

.left-body__bg,
.right-body__bg {
  border-radius: 48rem;
  background: rgba(78, 193, 193, 0.5);
  filter: blur(25rem);
  width: 48rem;
  height: 48rem;
  flex-shrink: 0;
  position: absolute;
}

.left-body__bg {
  left: -50rem;
}

.right-body__bg {
  top: 94rem;
  right: -14rem;
}

.btn-back {
  justify-content: flex-start;
  div:last-child {
    order: -1;
    transform: rotate(180deg);
  }
}

.price {
  color: $black;
  font-family: Gilroy;
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}
