.catalog {
  position: relative;
  padding: 6rem 0 15rem;

  &__container {
    display: flex;
    column-gap: 3rem;
    justify-content: space-between;
  }

  .input-datalist-form__blocks {
    display: flex;
    column-gap: 2rem;
  }

  .choose-auto {
    margin-bottom: 6.5rem;
  }

  &__left {
    width: 38.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  &__right {
    width: 120rem;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .btn-arrows__yet {
      flex-direction: column;
      row-gap: 1.5rem;
      .btn-arrows__img {
        transform: rotate(90deg);
      }
    }
  }

  &__choice-car {
    background: $white;
    padding: 2rem;
    display: flex;
    column-gap: 1rem;

    img {
      width: 14rem;
      height: 10.8rem;
    }

    button {
      flex-direction: column;
      row-gap: 1.6rem;
      align-items: flex-start;
    }
  }

  .btn-arrows__title {
    color: $black;
    font-family: Gilroy, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: inherit;
  }

  &__cards {
    display: flex;
    row-gap: 3rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 4rem;

    .card__content {
      max-width: 27.7rem;
    }

    .card__btn-buy {
      margin: auto auto auto 0;
    }

    .card__swiper-slide {
      height: 16.5rem;
      width: 22rem;
    }

    .card__content-info-bottom {
      font-size: 1.8rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__item-main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.6rem;
    cursor: pointer;

    span {
      color: $black;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
    }

    img {
      &:first-child {
        width: 3rem;
        height: 3rem;
      }
      &:last-child {
        width: 1.4rem;
        height: 1.4rem;
        transition: all 0.2s ease-in-out;
      }
    }

    &.active {
      img:last-child {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__item-form {
    border: $border;
    background: transparent;
    display: none;
    flex-direction: column;
  }

  &__item-form-block {
    padding: 2rem 3.2rem 0 3.2rem;
    &:not(:last-child) {
      border-bottom: $border;
    }
    &:first-child {
      .catalog__item-form-block-content {
        padding-left: 0.7rem;
        padding-right: 1rem;
      }
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &-title__text {
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
  }

  &__item-form-block-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 2rem;
    column-gap: 2rem;
    span {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
    }
    img {
      width: 1.4rem;
      height: 1.4rem;
      transition: all 0.2s ease-in-out;
    }
    &.active {
      img {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__item-form-block-content {
    display: none;
    padding-bottom: 2rem;
    .input-checkbox {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
      span::before {
        top: 0;
      }
    }
    .input-checkbox input[type='checkbox']:checked + span:before {
      background-color: transparent;
    }
    ul {
      padding-left: 1.6rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;
      margin-bottom: 1.6rem;
      li {
        cursor: pointer;
        color: $black;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        &.active {
          color: $mainColor;
        }
      }
    }
    .btn-arrows {
      padding-left: 1.6rem;
    }
  }

  &__item-form-block-reset {
    padding: 2rem 3.2rem;
    display: flex;
    justify-content: center;
  }

  &__item-form-title {
    color: $black;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    padding: 3.2rem 3.2rem 0 3.2rem;
  }

  &__item-filter {
    .catalog__item-form-block-inner span {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  &__btns {
    display: flex;
    align-items: flex-start;
    column-gap: 26rem;
    justify-content: flex-end;
    .btn-arrows {
      margin: inherit;
    }
  }

  &__btns-pagination {
    display: flex;
    align-items: baseline;
    column-gap: 1.6rem;
    width: 27rem;
    justify-content: flex-end;

    button,
    div {
      color: $black;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      &.hidden {
        display: none;
      }
    }
  }

  &__btns-pagination-number {
    width: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    &.active {
      border-bottom: $border;
      border-color: $mainColor;
    }
  }

  &__btns-pagination-prev {
    transform: rotate(90deg);
  }

  &__btns-pagination-next {
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 48em) {
  .catalog {
    padding: 5.3vw 0 24vw 0;

    &__container {
      column-gap: 0;
    }

    .right-body__bg,
    .left-body__bg {
      display: none;
    }

    .btn-back {
      margin: auto auto 10.6vw 0;
      .btn-arrows__title {
        font-family: Good Timing, sans-serif;
        font-size: 4vw;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
      }
    }

    .input-datalist-form__blocks {
      column-gap: 2rem;
    }

    &__left {
      width: 0;
    }

    &__right {
      width: 100%;

      .btn-arrows__yet {
        flex-direction: row;
        .btn-arrows__title {
          color: $black;
          text-align: center;
          font-family: Good Timing, sans-serif;
          font-size: 4vw;
          font-weight: 700;
          line-height: 110%;
          text-transform: uppercase;
        }
        .btn-arrows__img {
          transform: rotate(0deg);
        }
        &:hover {
          .btn-arrows__title {
            color: $mainColor;
          }
        }
      }
    }

    &__item-main {
      display: none;
    }

    &__item {
      background: $background;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      z-index: 10;
      padding: 2.8vw 0 10.6vw 0;
      row-gap: 6.4vw;
      overflow: scroll;
      transform: translateX(100%);
      transition: 0.2s all linear;

      &.active {
        transform: translateX(0%);
      }
    }

    &__item-form {
      width: 100%;
      margin-top: 16vw;
      min-height: 90%;
      height: fit-content;
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 8vw;
      border: none;
      & > div {
        width: 100%;
      }
    }

    &__cards {
      row-gap: 2.8vw;
      column-gap: 2.8vw;
      margin-bottom: 6.4vw;

      .card__content {
        max-width: 46vw;
      }

      .card__btn-buy {
        margin: auto auto auto 0;
        height: 8vw;
        .btn-arrows__title {
          color: $black;
          font-family: Gilroy, sans-serif;
          font-size: 4vw;
          font-weight: 700;
          line-height: 110%;
        }
      }

      .card__swiper-slide {
        height: 22vw;
      }
    }

    &__item-form-block {
      &:first-child {
        .catalog__item-form-block-content {
          padding-left: 3.2vw;
          padding-right: 3.2vw;
        }
      }
    }

    &-title {
      margin-bottom: 6.4vw;
      flex-direction: column;
      row-gap: 6.4vw;
    }

    &-title__text {
      font-size: 4.8vw;
      line-height: 130%;
    }

    &__btns {
      flex-direction: column;
      align-items: center;
      row-gap: 6.4vw;
    }

    &__btns-pagination {
      column-gap: 4.27vw;
      width: fit-content;

      button,
      div {
        font-size: 4vw;
      }
    }

    &__btns-pagination-next,
    &__btns-pagination-prev {
      width: 5.3vw;
      height: 5.3vw;
    }

    &__btns-pagination-number {
      width: 5.3vw;
      padding-bottom: 3.2vw;
    }

    &__title-btns {
      display: flex;
      column-gap: 2.8vw;
    }

    .sort {
      background: $mainColor;
    }

    &__title-btns-filter {
      background: $mainColor;
      padding: 5.3vw 8.5vw;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 2.8vw;
      img {
        width: 5.3vw;
        height: 5.3vw;
      }
      span {
        color: $white;
        font-family: Gilroy, sans-serif;
        font-size: 4vw;
        font-weight: 700;
        line-height: 110%;
      }
    }

    &__filter-mob-close {
      width: 5.3vw;
      height: 5.3vw;
      position: absolute;
      top: 5.3vw;
      right: 3vw;
    }

    &__item-form-block-inner {
      span {
        font-size: 4vw;
      }
      img {
        width: 4.8vw;
        height: 4.8vw;
      }
    }

    &__item-form-block {
      padding: 4.27vw 2.8vw 0 2.8vw;
      &:first-child {
        border-top: $border;
      }
      &:last-child {
        border-bottom: $border;
      }
    }

    &__item-form-block-inner {
      padding-bottom: 4.27vw;
    }

    &__item-form-block-content {
      padding-bottom: 4.27vw;
      padding-left: 5.3vw;
    }

    &__item-form-block-content .input-checkbox:not(:last-child) {
      margin-bottom: 5.3vw;
    }

    &__item-form-block-reset-btn {
      background: $white;
      padding: 7.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 5.3vw;
      width: 46vw;

      span {
        color: $black;
        font-family: Gilroy, sans-serif;
        font-size: 4vw;
        font-weight: 700;
        line-height: 110%;
      }

      img {
        width: 6.5vw;
      }
    }
  }
}
