.category {
  position: relative;
  padding: 6rem 0 15rem;

  .title {
    margin-bottom: 6rem;
  }

  .input-datalist-form__blocks {
    display: flex;
    column-gap: 2rem;
  }

  &-top {
    position: relative;
    margin-bottom: 6rem;
  }

  &-other {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .btn-arrows {
      justify-content: center;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 3rem;
      column-gap: 3rem;
      margin-bottom: 4rem;
    }
  }

  &-other__details-detail,
  &-details__detail {
    border: $border;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 38.2rem;
    height: 27.4rem;
    img {
      width: 100%;
      height: 15.4rem;
    }
    div {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
      height: 5.2rem;
      width: 100%;
      text-align: center;
    }
  }

  &-details {
    margin-bottom: 15rem;
    position: relative;
  }

  &-details__detail {
    &.active {
      display: flex;
    }
  }

  &-details__container {
    display: flex;
    row-gap: 4rem;
    column-gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-details__detail {
    cursor: pointer;
    &.active {
      border: $border;
      background: rgba(255, 255, 255, 0.35);
      div {
        color: $mainColor;
      }
      transition: all 0.2s ease-in-out;
    }
  }

  &-details__lists {
    border: $border;
    width: 100%;
    padding: 4rem 4rem 6.5rem 4rem;
  }

  &-details__lists-content {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    &.active {
      display: flex;
    }
  }

  &-details__lists-content-title {
    padding: 1.6rem 2rem;
    background: $white;
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    min-width: 30rem;
    max-width: fit-content;
  }

  &-details__lists-content-title-items {
    display: flex;
    column-gap: 7rem;

    ul {
      padding-left: 6rem;
      width: 30.4rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;

      a {
        color: $black;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 140%;
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $mainColor;
          &::before {
            content: '';
            background: url('../img/icon/arrow-blue.svg');
            background-size: cover;
            width: 1rem;
            height: 1.8rem;
            display: block;
            position: absolute;
            left: -3rem;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .category {
    .right-body__bg {
      display: none;
    }

    .btn-back {
      margin: auto auto 10.6vw 0;
    }

    padding: 5.3vw 0 24vw 0;

    &-top {
      margin-bottom: 10.7vw;
    }

    &__details {
      row-gap: 2.8vw;
      column-gap: 2.8vw;
    }

    &-other__details {
      margin-bottom: 6.4vw;
      row-gap: 2.8vw;
      column-gap: 2.8vw;
    }

    &-other__details-detail,
    &-details__detail {
      row-gap: 2.8vw;
      column-gap: 2.8vw;
      padding: 2.2vw;
      width: calc(50% - 3.8vw / 2);
      height: 45.5vw;
      justify-content: center;
      img {
        width: 100%;
        height: 23vw;
      }
      div {
        font-size: 4vw;
        line-height: 140%;
        height: auto;
        width: 100%;
      }
    }

    &-details {
      margin-bottom: 24vw;
    }

    &-details__detail {
      &:nth-child(3),
      &:nth-child(4) {
        order: 1;
      }
    }

    &-details__lists {
      padding: 4.27vw;
      margin: 2.8vw 0;
    }

    &-details__lists-content-title {
      padding: 3.2vw 5.3vw;
      font-size: 4.8vw;
      min-width: 100%;
      margin-bottom: 5.3vw;
    }

    &-details__lists-content-title-items {
      flex-direction: column;
      row-gap: 5.3vw;

      ul {
        padding-left: 0;
        width: 100%;
        row-gap: 5.3vw;

        a {
          font-size: 4.27vw;

          &:hover {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}
