.category {
  position: relative;
  padding: 6rem 0 15rem;

  .title {
    margin-bottom: 6rem;
  }

  &-top {
    position: relative;
    margin-bottom: 6rem;
  }

  &__auto {
    padding: 1.2rem 3.2rem 1.2rem 1.6rem;
    background: $white;
    display: flex;
    justify-content: space-between;
  }

  &__auto-desc {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }

  &__auto-desc-icon {
    width: 4.4rem;
    height: 4.4rem;
    background-color: #4ec1c1;
    background-image: url('../img/icon/check-white.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    &.no-auto {
      background-image: url(../img/icon/danger.svg);
    }
  }

  &__auto-desc-name {
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__auto-desc-btn {
    margin: inherit;
    .btn-arrows__title {
      color: $black;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      font-family: Gilroy, sans-serif;
      text-transform: none;
    }
  }

  &-other {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .btn-arrows {
      justify-content: center;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 3rem;
      column-gap: 3rem;
      margin-bottom: 4rem;
    }
  }

  &-other__details-detail,
  &-details__detail {
    border: $border;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 38.2rem;
    height: 27.4rem;
    img {
      width: 100%;
      height: 15.4rem;
    }
    div {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
      height: 5.2rem;
      width: 100%;
      text-align: center;
    }
  }

  &-details {
    margin-bottom: 15rem;
    position: relative;
  }

  &-details__detail {
    &.active {
      display: flex;
    }
  }

  &-details__container {
    display: flex;
    row-gap: 4rem;
    column-gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-details__detail {
    cursor: pointer;
    &.active {
      border: $border;
      background: rgba(255, 255, 255, 0.35);
      div {
        color: $mainColor;
      }
      transition: all 0.2s ease-in-out;
    }
  }

  &-details__lists {
    border: $border;
    width: 100%;
    padding: 4rem 4rem 6.5rem 4rem;
  }

  &-details__lists-content {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    &.active {
      display: flex;
    }
  }

  &-details__lists-content-title {
    padding: 1.6rem 2rem;
    background: $white;
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    min-width: 30rem;
    max-width: fit-content;
  }

  &-details__lists-content-title-items {
    display: flex;
    column-gap: 7rem;

    ul {
      padding-left: 6rem;
      width: 30.4rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.6rem;

      a {
        color: $black;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 140%;
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          transition: all 0.2s ease-in-out;
          color: $mainColor;
          &::before {
            content: '';
            position: absolute;
            background: url('../img/icon/arrow-blue.svg');
            background-size: cover;
            width: 1rem;
            height: 1.8rem;
            display: block;
            position: absolute;
            left: -2.1rem;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
