.entrance {
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;

  &__title {
    color: $black;
    font-family: Good Timing, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
  }

  &__form {
    .input__block,
    .input__block-pass {
      margin-bottom: 3rem;
    }
    .btn-form {
      width: 100%;
      margin-top: 4.8rem;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    align-items: center;
  }

  &__btn {
    color: $black;
    text-align: center;
    font-family: Gilroy;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    width: fit-content;
    margin: 0 auto;
  }

  &__form-reg {
    display: none;
    &.active {
      display: block;
    }
  }

  &__panel {
    display: flex;
    column-gap: 4rem;
    button {
      display: flex;
      align-items: center;
      column-gap: 1.5rem;
      div {
        width: 4.3rem;
        height: 4.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $greyLight;
      }
      span {
        color: $black;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 140%;
      }
    }
    .active {
      div {
        background: $mainColor;
      }

      svg path {
        fill: $white;
      }
    }
  }
}

.entrance__activate {
  p,
  a {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }
  p {
    margin-bottom: 2rem;
  }
  a:hover {
    color: $mainColor;
    transition: all 0.5s ease-in-out;
  }
}

.entrance__success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3.2rem;

  &-img {
    width: 3.4rem;
    height: 3.4rem;
    background: $mainColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &-text {
    color: $black;
    text-align: center;
    font-family: Good Timing;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
  }
}

.entrance__recovery,
.entrance__recovery-email {
  p {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }
  input {
    margin-bottom: 0;
  }
}

.entrance__recovery-email {
  p {
    color: $black;
  }
}

//Ошибка в востановление пароля
.entrance__recovery-error {
  padding: 0.5rem 2rem;
  display: none;

  p {
    color: #df3030;
    font-size: 1.8rem;
  }

  div {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;

    &:hover {
      transition: all 0.5s ease-in-out;
      color: $mainColor;
    }
  }
}

@media screen and (max-width: 48em) {
  .entrance {
    row-gap: 9.2vw;

    &__title {
      font-size: 4.27vw;
    }

    &__form {
      .input__block,
      .input__block-pass {
        margin-bottom: 4.27vw;
      }

      .btn-form {
        width: 100%;
        margin-top: 8.5vw;
      }
    }

    &__btns {
      row-gap: 4.8vw;
    }

    &__btn {
      font-size: 3.25vw;
      line-height: 140%;
    }

    &__panel {
      column-gap: 3.2vw;

      button {
        column-gap: 3.2vw;

        div {
          width: 11.7vw;
          height: 11.7vw;
          flex-shrink: 0;
          svg {
            width: 5.3vw;
            height: 5.3vw;
          }
        }

        span {
          font-size: 3.75vw;
          line-height: 130%;
          display: none;
        }
      }
    }

    &__panel-btn {
      &.active {
        span {
          display: block;
        }
        order: 1;
      }
    }
  }

  .entrance__activate {
    p,
    a {
      font-size: 3.75vw;
      line-height: 130%;
    }
    p:not(:last-child) {
      margin-bottom: 3.2vw;
    }
  }

  .entrance__success {
    row-gap: 8.5vw;

    &-img {
      width: 10.7vw;
      height: 10.7vw;

      img {
        width: 5.4vw;
        height: 5.3vw;
      }
    }

    &-text {
      font-size: 4.27vw;
      line-height: 110%;
    }
  }

  .entrance__recovery,
  .entrance__recovery-email {
    row-gap: 8.5vw;
    p {
      font-size: 3.75vw;
      line-height: 130%;
    }
  }

  .entrance__recovery-error {
    padding: 0.5rem 2rem;

    div {
      font-size: 3.75vw;
      line-height: 130%;
    }
  }
}
