.main {
  &-main {
    position: relative;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  &-main__bg-2 {
    width: 48rem;
    height: 48rem;
    background: $mainColor;
    filter: blur(25rem);
    position: absolute;
    left: -50rem;
  }

  &-main__bg-1 {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    left: 0rem;
    height: 127%;
    top: -23rem;
    opacity: 0.5;
    width: 100%;
  }

  &-main__search {
    width: 66rem;
    min-height: 85.3rem;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5rem);
  }

  &-main__search-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    padding: 4rem 4rem 3rem 4rem;
  }

  &-main__search-top-title {
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  &-main__seacrh-top-count {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &-main__search-center {
    padding: 4rem 4rem 3rem 4rem;
  }

  &-main__search-btns {
    display: flex;
    margin-bottom: 2.4rem;
  }

  &-main__search-btn {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &:first-child {
      padding-right: 2.4rem;
      border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
    }
    &:last-child {
      margin-left: 2.4rem;
    }
    &.active {
      .main-main__search-btn-title {
        font-size: 2rem;
        font-weight: 700;
      }
      .main-main__search-arrow {
        display: block;
      }
    }
  }

  &-main__search-btn-top {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }

  &-main__search-arrow {
    display: none;
  }

  &-main__search-btn-title {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &-main__search-form {
    display: none;
    &.active {
      display: block;
    }
  }

  &-main__search-form-select-input {
    border: 0;
    height: 4.3rem;
    width: 80%;
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    &::placeholder {
      color: $grey;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 130%;
    }
  }

  &-main__search-form-select {
    position: relative;
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
    padding: 0.9rem 1.2rem;
    background-color: #ffffff;
    margin-bottom: 1.2rem;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.6rem;
      display: block;
      width: 1rem;
      height: 0.2rem;
      transition: all 0.5s ease-out;
      background-color: #333333;
      transform: translate(-0.3rem, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(0.3rem, -50%) rotate(-45deg);
    }
    &.active {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }
    &[data-checked='on'] {
      .main-main__search-form-select-count {
        transition: all 0.5s;
        color: #ffffff;
        background: $mainColor;
      }
    }
  }

  &-main__search-btn-img {
    width: 3rem;
    height: 3rem;
  }

  &-main__search-arrow {
    width: 3.3rem;
    height: 2.8rem;
  }

  &-main__search-form-select-datalist {
    position: absolute;
    background-color: white;
    border-top: none;
    font-family: sans-serif;
    justify-content: space-between;
    width: 100%;
    top: 6.2rem;
    left: 0;
    padding: 0.6rem 2rem 0 1.5rem;
    max-height: 20rem;
    overflow-y: auto;
    flex-wrap: wrap;
    column-gap: 2rem;
    z-index: 10;
    display: flex;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $greyLight;
      border: 0.4rem solid $greyLight;
    }
    option {
      background-color: white;
      color: $black;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 130%;
      cursor: pointer;
      padding-bottom: 0.8rem;
      width: calc(50% - 2rem);
      overflow-x: hidden;
      &:hover,
      &.active {
        color: $mainColor;
        transition: all 0.2s;
      }
    }
    &.active {
      display: flex;
    }
  }

  &-main__search-form-select-count {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 120%;
    padding: 1.4rem;
    background: var(--grey-light, $greyLight);
    color: $grey;
    transition: all 0.5s ease-in-out;
  }

  &-main__search-form-btns {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 2.4rem;
  }

  &-main__search-form-btn-reset {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
    &:not([disabled]):hover {
      color: $black;
      transition: all 0.2s ease-in-out;
    }
    &:disabled {
      opacity: 0.4;
      cursor: auto;
      pointer-events: none;
    }
  }

  &-main__search-form-vin {
    padding: 1.2rem 2rem;
    border: none;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    color: $black;
    margin-bottom: 1.2rem;
    &::placeholder {
      color: $grey;
    }
  }

  &-main__right {
    margin: auto auto 0 auto;
    position: relative;
  }

  &-main__container {
    display: flex;
    column-gap: 4.5rem;
  }

  &-main__title {
    text-align: right;
    font-size: 3.8rem;
    span {
      color: $mainColor;
    }
  }

  &-main__img {
    width: 96.2rem;
    height: 64.7rem;
  }

  &-autos {
    position: relative;
  }

  &-autos__container {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
  }

  &-autos__items {
    display: flex;
    column-gap: 8.2rem;
    justify-content: space-between;
    padding: 4rem 0;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &-autos__item {
    img {
      &:first-child {
        display: block;
      }
      &:last-child {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      img {
        &:last-child {
          display: block;
        }

        &:first-child {
          display: none;
        }
      }
    }
  }

  &-category {
    position: relative;
  }

  &-category__container {
    padding: 15rem 0;
  }

  &-category__top {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    padding-bottom: 4.5rem;
  }

  &-category__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-category__top-number {
    font-family: 'Good Timing', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    color: $mainColor;
  }

  &-category__center {
    margin-bottom: 4rem;
  }

  &-category__btn {
    justify-content: center;
  }

  &-category__center-bottom,
  &-category__center-top {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
  }

  &-category__center-items {
    display: flex;
    justify-content: space-between;
  }

  &-category__center-item {
    padding: 6.7rem;
    &:not(:last-child) {
      border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
    }
    img {
      width: 28rem;
      height: 20.7rem;
      margin-bottom: 2.8rem;
    }
  }

  &-category__center-item-title {
    color: $black;
    text-align: center;
    font-family: 'Good Timing', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 1rem;
  }

  &-category__center-item-subtitle {
    color: $grey;
    font-family: 'Gilroy', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    span {
      font-size: 2rem;
      font-weight: 700;
      color: $mainColor;
    }
  }

  &-category__bg {
    position: absolute;
    width: 24rem;
    height: 40rem;
    border-radius: 48rem;
    background: $mainColor;
    -webkit-filter: blur(25rem);
    filter: blur(25rem);
    right: 0;
    top: -10rem;
  }

  &-brands__container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    padding: 6rem 0 15rem 0;
  }

  &-brands__top {
    display: flex;
    justify-content: space-between;
  }

  &-brands__swiper-wrapper {
    height: 52rem;
  }

  &-brands__swiper-slide {
    border: 0.2rem solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.35);
    width: calc((100% / 6) - 30px);
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: a 1s;
    img {
      width: 14rem;
      height: 6rem;
    }
    &:hover {
      background: url('../img/brands/brands-hover-bg.svg') no-repeat center;
      width: calc((100% / 6) - 30px);
      height: 22rem;
      border: 0;
      background-size: contain;
      cursor: pointer;
      animation: a 1s;
    }
  }

  &-about {
    background-color: $background;
    position: relative;
    overflow: hidden;
  }

  &-about__top {
    padding-top: 10rem;
    border-bottom: 0.1rem solid;
    border-color: rgba(255, 255, 255, 0.8);
  }

  &-about__top-container {
    padding-bottom: 6rem;
    position: relative;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
  }

  &-about__top-desc-title {
    text-align: right;
    font-family: 'Good Timing', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    color: $mainColor;
    max-width: 28rem;
    margin-bottom: 3.2rem;
  }

  &-about__bottom {
    display: flex;
    column-gap: 6rem;
    padding: 6rem 0 15rem 0;
    width: 162rem;
    margin: 0 auto;
  }

  &-about__bottom-logo {
    width: 49.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &-about__bottom-text {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    width: 49.2rem;
  }

  &-about__bottom-logo {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &-about__bottom-logo-img {
    width: 18rem;
    height: 6.5rem;
  }

  &-about__bg {
    position: absolute;
    width: 48rem;
    height: 48rem;
    border-radius: 48rem;
    background: $mainColor;
    filter: blur(25rem);
    bottom: -38rem;
    right: 48rem;
  }
}

.modification-datalist {
  flex-direction: column;
  option {
    width: 100%;
  }
}

@keyframes a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
