.main {
  &-main {
    position: relative;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    z-index: 2;
  }

  &-main__bg-2 {
    width: 48rem;
    height: 48rem;
    background: $mainColor;
    filter: blur(25rem);
    position: absolute;
    left: -50rem;
  }

  &-main__bg-1 {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    left: 0rem;
    height: 127%;
    top: -23rem;
    opacity: 0.5;
    width: 100%;
  }

  &-main__search {
    width: 66rem;
    min-height: 85.3rem;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5rem);
  }

  &-main__search-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    padding: 4rem 4rem 3rem 4rem;
  }

  &-main__search-top-title {
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  &-main__seacrh-top-count {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &-main__search-center {
    padding: 4rem 4rem 3rem 4rem;
  }

  &-main__search-btns {
    display: flex;
    margin-bottom: 2.4rem;
  }

  &-main__search-btn {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    &:first-child {
      padding-right: 2.4rem;
      border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
    }
    &:last-child {
      margin-left: 2.4rem;
    }
    &.active {
      .main-main__search-btn-title {
        font-size: 2rem;
        font-weight: 700;
      }
      .main-main__search-arrow {
        display: block;
      }
    }
  }

  &-main__search-btn-top {
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
  }

  &-main__search-arrow {
    display: none;
  }

  &-main__search-btn-title {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &-main__search-form {
    display: none;
    &.active {
      display: block;
    }
  }

  &-main__search-btn-img {
    width: 3rem;
    height: 3rem;
  }

  &-main__search-arrow {
    width: 3.3rem;
    height: 2.8rem;
  }

  &-main__search-form-btns {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 2.4rem;
  }

  &-main__search-form-vin {
    padding: 1.2rem 2rem;
    border: none;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    color: $black;
    margin-bottom: 1.2rem;
    &::placeholder {
      color: $grey;
    }
  }

  &-main__right {
    margin: auto auto 0 auto;
    position: relative;
  }

  &-main__container {
    display: flex;
    column-gap: 4.5rem;
  }

  &-main__title {
    text-align: right;
    font-size: 3.8rem;
    span {
      color: $mainColor;
    }
  }

  &-main__img {
    width: 96.2rem;
    height: 64.7rem;
  }

  &-autos {
    position: relative;
  }

  &-autos__container {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
  }

  &-autos__items {
    display: flex;
    column-gap: 8.2rem;
    justify-content: space-between;
    padding: 4rem 0;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &-autos__item {
    img {
      object-fit: cover;
      width: auto;
      height: 100%;
      &:first-child {
        display: block;
      }
      &:last-child {
        display: none;
      }
    }
    &:hover {
      cursor: pointer;
      img {
        &:last-child {
          display: block;
        }

        &:first-child {
          display: none;
        }
      }
    }
  }

  &-category {
    position: relative;
  }

  &-category__container {
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
  }

  &-category__top {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
    padding-bottom: 4.5rem;
  }

  &-category__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-category__top-number {
    font-family: 'Good Timing', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    color: $mainColor;
  }

  &-category__center {
    margin-bottom: 4rem;
  }

  &-category__btn {
    justify-content: center;
  }

  &-category__center-bottom,
  &-category__center-top {
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8);
  }

  &-category__center-items {
    display: flex;
    justify-content: space-between;
  }

  &-category__center-item {
    padding: 6.7rem;
    &:not(:last-child) {
      border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
    }
    img {
      width: 28rem;
      height: 20.7rem;
      margin-bottom: 2.8rem;
    }
  }

  &-category__center-item-title {
    color: $black;
    text-align: center;
    font-family: 'Good Timing', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 1rem;
  }

  &-category__center-item-subtitle {
    color: $grey;
    font-family: 'Gilroy', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    span {
      font-size: 2rem;
      font-weight: 700;
      color: $mainColor;
    }
  }

  &-category__bg {
    position: absolute;
    width: 24rem;
    height: 40rem;
    border-radius: 48rem;
    background: $mainColor;
    -webkit-filter: blur(25rem);
    filter: blur(25rem);
    right: 0;
    top: -10rem;
  }

  &-brands__container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    padding: 6rem 0 15rem 0;
  }

  &-brands__top {
    display: flex;
    justify-content: space-between;
  }

  &-brands__swiper-wrapper {
    height: 52rem;
    row-gap: 3rem;
    column-gap: 3rem;
  }

  &-brands__swiper-slide {
    border: 0.2rem solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.35);
    width: 24rem !important;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: a 1s;
    img {
      width: 14rem;
      height: 6rem;
    }
    &:hover {
      background: url('../img/brands/brands-hover-bg.svg') no-repeat center;
      width: calc((100% / 6) - 30px);
      height: 22rem;
      border: 0;
      background-size: contain;
      cursor: pointer;
      animation: a 1s;
    }
  }

  &-about {
    background-color: $background;
    position: relative;
    overflow: hidden;
  }

  &-about__top {
    padding-top: 10rem;
    border-bottom: 0.1rem solid;
    border-color: rgba(255, 255, 255, 0.8);
  }

  &-about__top-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .btn-arrows {
      margin: initial;
    }
  }

  &-about__top-container {
    padding-bottom: 6rem;
    position: relative;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
  }

  &-about__top-desc-title {
    text-align: right;
    font-family: 'Good Timing', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 130%;
    color: $mainColor;
    max-width: 28rem;
    margin-bottom: 3.2rem;
  }

  &-about__bottom {
    display: flex;
    column-gap: 6rem;
    padding: 6rem 0 15rem 0;
    width: 162rem;
    margin: 0 auto;
  }

  &-about__bottom-logo {
    width: 49.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &-about__bottom-text {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    width: 49.2rem;
  }

  &-about__bottom-logo {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &-about__bottom-logo-img {
    width: 18rem;
    height: 6.5rem;
  }

  &-about__bg {
    position: absolute;
    width: 48rem;
    height: 48rem;
    border-radius: 48rem;
    background: $mainColor;
    filter: blur(25rem);
    bottom: -38rem;
    right: 48rem;
  }
}

.modification-datalist {
  flex-direction: column;
  option {
    width: 100%;
  }
}

@keyframes a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 48em) {
  .main {
    &-main__bg-2 {
      width: 48rem;
      height: 48rem;
      left: -50rem;
    }

    &-main__bg-1 {
      display: none;
    }

    &-main__search {
      width: 100%;
      min-height: 85.3rem;
    }

    &-main__search-top {
      padding: 6.4vw 2.8vw;
      border-width: 2px;
    }

    &-main__search-top-title {
      font-size: 4.27vw;
    }

    &-main__seacrh-top-count {
      font-size: 4.27vw;
      line-height: 140%;
    }

    &-main__search-center {
      padding: 10.6vw 2.8vw;
    }

    &-main__search-btns {
      margin-bottom: 6.4vw;
    }

    &-main__search-btn {
      &:first-child {
        padding-right: 2.4rem;
        border-width: 2px;
      }

      &:last-child {
        margin-left: 2.4rem;
      }

      &.active {
        .main-main__search-btn-title {
          font-size: 4vw;
        }
      }
    }

    &-autos__container {
      margin-top: 9vw;
      border-top: $border;
      border-bottom: $border;
    }

    &-main__search-btn-top {
      column-gap: 2.8vw;
      &:nth-child(2) {
        align-items: baseline;
      }
    }

    &-main__search-btn-title {
      font-size: 4vw;
    }

    &-main__search-btn-img {
      width: 7vw;
      height: 5vw;
      img {
        height: 100%;
      }
    }

    &-main__search-arrow {
      width: 4.27vw;
      height: 4vw;
      position: relative;
      left: 1rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-main__search-form-btns {
      margin-top: 6.4vw;
      flex-direction: column;
      row-gap: 7.5vw;
      .btn-form {
        width: 100%;
      }
    }

    &-main__search-form-vin {
      padding: 1.2rem 2rem;
      width: 100%;
      font-size: 1.8rem;
      line-height: 140%;
      margin-bottom: 1.2rem;
    }

    &-main__container {
      row-gap: 7.5vw;
      flex-direction: column-reverse;
      padding-top: 10.6vw;
    }

    &-main__title {
      font-size: 7vw;
      text-align: left;
      line-height: 130%;
      text-align: left;
    }

    &-main__img {
      display: none;
    }

    &-main__right {
      margin: auto auto auto 0;
    }

    &-autos__items {
      column-gap: 10vw;
      padding: 6.4vw 0 3vw 0;
      z-index: 1;
      img {
        height: 7.5vw;
      }
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    &-category__container {
      padding-top: 24vw;
    }

    &-category__top {
      padding-bottom: 9vw;
    }

    &-category__top-number {
      font-size: 10.7vw;
      line-height: 130%;
    }

    &-category__center {
      margin-bottom: 6.4vw;
    }

    &-category__center-items {
      flex-wrap: wrap;
      border: $border;
    }

    &-category__center-item {
      padding: 6.4vw 1.4vw;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 3.2vw;

      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: $border;
        border-right: $border;
        border-width: 2px;
      }

      &:not(:last-child) {
        border-right: 2px solid rgba(255, 255, 255, 0.8);
      }

      img {
        width: 31vw;
        height: 22vw;
        margin-bottom: 4.27vw;
        margin: 0 auto;
      }
    }

    &-category__top,
    &-category__center-bottom,
    &-category__center-top {
      border: none;
    }

    &-category__center-item-title {
      font-size: 4.27vw;
      line-height: 110%;
      margin-bottom: auto;
    }

    &-category__center-item-subtitle {
      font-size: 3.8vw;

      span {
        font-size: 3.8vw;
      }
    }

    &-category__bg {
      display: none;
    }

    &-brands__container {
      row-gap: 7.5vw;
      padding: 24vw 0;
      .swiper__arrows {
        display: none;
      }
    }

    &-brands__swiper-wrapper {
      height: 79vw;
      row-gap: 2.8vw;
      column-gap: 2.8vw;
    }

    &-brands__swiper-slide {
      width: 45vw !important;
      height: 38vw;
      animation: a 1s;

      img {
        width: 28vw;
        height: 14vw;
      }

      &:hover {
        width: calc((100% / 4) - 2.8vw);
        height: 38vw;
      }
    }

    &-about {
      padding: 0 10px;
    }

    &-about__top {
      padding-top: 0;
      border-bottom: 2px solid $white;
    }

    &-about__top-container {
      padding-bottom: 9vw;
      flex-direction: column;
      row-gap: 7.5vw;
      border-color: $white;
    }

    &-about__top-desc {
      align-items: flex-start;
    }

    &-about__top-desc-title {
      font-size: 5.3vw;
      max-width: 100%;
      margin-bottom: 0;
    }

    &-about__bottom {
      padding: 5.3vw 0 24vw 0;
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
      position: relative;
      z-index: 1;
      .btn-arrows {
        margin-top: 6.4vw;
      }
    }

    &-about__bottom-logo {
      width: 100%;
      height: 51vw;
      margin-bottom: 4.27vw;
      img {
        object-fit: cover;
      }
    }

    &-about__bottom-text {
      font-size: 3.6vw;
      line-height: 140%;
      width: 100%;
    }

    &-about__bottom-logo-img {
      width: 40vw;
      height: 14vw;
    }

    &-about__bg {
      width: 60vw;
      height: 50vw;
      border-radius: 50%;
      bottom: 0;
      right: 24vw;
    }
  }
}
