.ordering {
  position: relative;

  .btn-arrows {
    margin: initial;
  }

  &__container {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &__order {
    display: flex;
    column-gap: 3rem;
  }

  &__order-form {
    display: flex;
    flex-direction: column;
    row-gap: 4.8rem;
    width: 107rem;
  }

  &__order-form-item-block {
    padding: 2rem 2.4rem 3.2rem 2.4rem;
    background: rgba(255, 255, 255, 0.35);
    position: relative;
  }

  &__order-form-item-title {
    border: $border;
    column-gap: 1.2rem;
    padding: 1rem 2.4rem;
    background: rgba(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;

    &::after {
      content: '';
      width: 30rem;
      height: 50rem;
      transform: rotate(-90deg);
      flex-shrink: 0;
      background: rgba(78, 193, 193, 0.5);
      filter: blur(25rem);
      position: absolute;
      right: 10rem;
      top: -12rem;
      display: block;
      z-index: -1;
    }
  }

  &__order-form-item-inputs,
  &__order-form-item-bank {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem 2.4rem 2.4rem 2.4rem;

    .input__block:nth-child(3) {
      grid-area: 2/1/3/3;
    }

    .input__block:nth-child(4) {
      grid-area: 3/1/4/3;
    }
  }

  &__order-form-item-bank {
    padding: 0;
    background: none;
    .input__block {
      grid-area: auto !important;
    }
    .input__block:nth-child(10) {
      grid-area: 6/1/7/3 !important;
    }
  }
}

@media screen and (max-width: 48em) {
  .ordering {
    &__container {
      padding: 11vw 0 24vw 0;
      row-gap: 12vw;
    }

    &__order {
      flex-direction: column;
      .title {
        margin-bottom: 7.5vw;
      }
    }

    &__order-form {
      width: fit-content;
      .subtitle {
        margin-bottom: 5.3vw;
      }
      .input-radio:not(:last-child) {
        margin-bottom: 3.2vw;
      }
      .form__item {
        margin-bottom: 8.5vw;
        p {
          font-size: 3.8vw;
          font-weight: 500;
          max-width: 100%;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .input-address {
          margin-top: 5.3vw;
        }
        .btn-arrows {
          .btn-arrows__title {
            font-size: 4vw;
          }
        }
      }

      .input-radio__inp {
        padding: 2.8vw;
      }
    }

    &__order-form-item-block {
      padding: 3.2vw 2.8vw 6.4vw 2.8vw;
    }

    &__order-form-item-title {
      padding: 3.2vw 2.8vw;
      font-size: 3.8vw;
      line-height: 130%;
    }

    &__order-form-item-inputs,
    &__order-form-item-bank {
      gap: 4.27vw;
      grid-template-columns: auto;
      grid-template-rows: auto;
      padding: 3.2vw 2.8vw 6.4vw 2.8vw;

      .input__block:nth-child(3) {
        grid-area: auto;
      }

      .input__block:nth-child(4) {
        grid-area: auto;
      }
    }
    &__order-form-item-bank {
      .input__block:nth-child(10) {
        grid-area: auto !important;
      }
    }
  }
}
