.basket {
  position: relative;
  padding: 6rem 0 15rem 0;

  .title {
    font-size: 3.8rem;
  }

  .btn-arrows {
    margin: initial;
  }

  // .card__btn-buy {
  // 	display: flex;
  // }

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 3rem;
    margin-top: 6rem;
  }

  &__main {
    width: 107rem;
  }

  &__main-basket,
  &__main-calculation {
    margin-bottom: 15rem;
  }

  &__main-basket-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main-basket-header {
    position: relative;
    margin-top: 6rem;
    border: $border;
    background: rgba(255, 255, 255, 0.35);
    padding: 1.2rem 2.4rem;
    display: flex;
    div {
      color: $grey;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 130%;
      &:nth-child(1) {
        width: 12%;
      }
      &:nth-child(2) {
        width: 36%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(4) {
        width: 16%;
      }
      &:nth-child(5) {
        width: 14%;
      }
      &:nth-child(6) {
        width: 7%;
      }
    }
  }

  &__main-basket-item {
    position: relative;
    margin-top: 2rem;
    padding: 2rem 2.4rem;
    background: #fff;
    display: flex;
    align-items: center;
    .count {
      width: 15%;
      padding-right: 1rem;
    }

    .input-count {
      width: 16%;
      padding-right: 1rem;
    }

    .price {
      width: 14%;
      padding-right: 1rem;
    }
  }

  &__main-basket-item-img {
    width: 10rem;
    margin-right: 2.4rem;
    height: 10rem;
  }

  &__main-basket-item-desc {
    display: flex;
    flex-direction: column;
    width: 36%;
    padding-right: 1rem;
  }

  &__main-basket-item-desc-link {
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 140%;
    &:hover {
      color: $mainColor;
      transition: all 0.2s ease-in-out;
    }
  }

  &__main-basket-item-desc-title {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__main-basket-item-del {
    width: 7%;
    button {
      margin: auto 0 auto auto;
    }
  }

  &__main-calculation {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    .title {
      font-size: 3.8rem;
    }
    .form__item {
      margin-bottom: 0;
      .input-radio:last-child {
        margin-bottom: 0;
      }
    }
    .btn-form {
      width: 43rem;
    }
  }

  &__main-calculation-info {
    padding: 4rem;
    background: rgba(255, 255, 255, 0.35);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    overflow: hidden;
  }

  &__main-calculation-info-item {
    &::after {
      content: '--------------------------------------------------------------------------------------------------------------------------------------------------------------';
      display: block;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: 0.6rem;
    }
    span:first-of-type {
      float: left;
      margin-right: 10px;
    }
    span:last-of-type {
      float: right;
      margin-left: 10px;
    }
  }

  &__main-calculation-info-item-title {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__main-calculation-info-item-desc {
    color: $black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 130%;
  }

  &__main-relevant {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    .card__content {
      max-width: 24.5rem;
    }
  }

  &__main-relevant-top {
    display: flex;
    justify-content: space-between;
  }

  &__main-relevant__pagination {
    margin-top: 4.2rem;
  }
}

@media screen and (max-width: 48em) {
  .basket {
    padding: 11vw 0 18vw 0;

    .title {
      font-size: 7.5vw;
    }

    .btn-reset {
      display: none;
    }

    &__container {
      margin-top: 12vw;
      flex-direction: column;
    }

    &__main {
      width: 107rem;
    }

    &__main-basket,
    &__main-calculation {
      margin-bottom: 24vw;
    }

    &__main-basket-header {
      display: none;
    }

    &__main-basket-title {
      margin-bottom: 7.5vw;
    }

    &__main-basket-item {
      margin-top: 2.8vw;
      padding: 2rem 2.4rem;

      .count {
        width: 15%;
        padding-right: 1rem;
      }

      .input-count {
        width: 16%;
        padding-right: 1rem;
      }

      .price {
        width: 14%;
        padding-right: 1rem;
      }
    }

    &__main-basket-item-img {
      width: 40vw;
      margin-right: 2.4rem;
      height: 40vw;
      flex-shrink: 0;
    }

    &__main-basket-item-desc {
      width: 36%;
      padding-right: 1rem;
    }

    &__main-basket-item-desc-link {
      font-size: 2rem;
      line-height: 140%;
    }

    &__main-basket-item-desc-title {
      font-size: 1.8rem;
      line-height: 140%;
    }

    &__main-basket-item-del {
      width: 7%;

      button {
        margin: auto 0 auto auto;
      }
    }

    &__main-calculation {
      row-gap: 8.5vw;

      .title {
        font-size: 7.5vw;
      }

      .form__item {
        margin-bottom: 0;

        .input-radio:last-child {
          margin-bottom: 0;
        }
      }

      .btn-form {
        width: 100%;
      }
    }

    &__main-calculation-info {
      padding: 4rem;
      row-gap: 2rem;
      width: 100%;
    }

    &__main-calculation-info-item {
      &::after {
        top: 0.6rem;
      }

      span:first-of-type {
        margin-right: 10px;
      }

      span:last-of-type {
        margin-left: 10px;
      }
    }

    &__main-calculation-info-item-title {
      font-size: 1.8rem;
      line-height: 130%;
    }

    &__main-calculation-info-item-desc {
      font-size: 1.8rem;
      line-height: 130%;
    }

    &__main-relevant {
      row-gap: 6rem;

      .card__content {
        max-width: 24.5rem;
      }
    }

    &__main-relevant__pagination {
      margin-top: 4.2rem;
    }
  }
}
