.pers-cab {
  position: relative;

  &__container {
    display: flex;
    column-gap: 3rem;
    padding: 6rem 0 15rem 0;
  }

  &__content {
    display: none;
    width: 100%;
  }

  form {
    border: $border;
    background: rgba(255, 255, 255, 0.35);
    padding: 6rem 21rem 6rem 6rem;
    margin-top: 6rem;
    position: relative;
  }

  &__form-block {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .form__item {
    margin-bottom: 4rem;
  }

  &__btn-arrows {
    justify-content: flex-start;
    width: fit-content;
    .btn-arrows__title {
      font-family: Gilroy, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      text-transform: inherit;
    }
  }

  .input-radio__inp {
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}

.pers-cab__empty {
  display: flex;
  column-gap: 20rem;
  padding: 12.4rem 0 0 16rem;

  &-bg {
    width: 31.4rem;
    height: 31.4rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(78, 193, 193, 0.5);
    filter: blur(25rem);
    position: absolute;
    top: -10rem;
    left: -6rem;
  }

  &-icons {
    position: relative;
  }

  &-icons-img {
    width: 19rem;
    height: 19rem;
  }

  &-desc {
    width: 42rem;
    p {
      color: $black;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
      margin: 1.6rem 0 4rem 0;
    }
    .btn-form {
      width: fit-content;
    }
  }
}
