.product {
  position: relative;
  padding: 6rem 0 15rem;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title-text {
    color: $black;
    font-family: Good Timing, sans-serif;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
  }

  &__title-img {
    width: 25rem;
    height: 5rem;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 10rem;
    position: relative;
  }

  &__img {
    width: 50%;
    border: $border;
    background: $white;
    padding: 8.8rem 17rem;
  }

  &__slider {
    width: calc(50% - 3rem / 2);
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    .swiper {
      width: 100%;
    }
  }

  &__slider-2-slide {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56rem;
    img {
      width: 45rem;
      height: 39rem;
      display: block;
    }
  }

  &__slider-1-slide {
    background-color: $white;
    width: 24.5rem;
    height: 16.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 10.3rem;
      height: 10.3rem;
    }
  }

  &__slider-1 {
    &-slide {
      border: $border;
    }

    .swiper-slide-thumb-active {
      border-color: $mainColor;
    }
  }

  &__char {
    width: calc(50% - 3rem / 2);
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 3.5rem;
    .title {
      font-size: 3.8rem;
      margin-bottom: 6rem;
    }
  }

  &__char-info {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 6rem;
  }

  &__char-info-item {
    color: $grey;
    &::after {
      content: '--------------------------------------------------------------------------------------------------------------------------------------------------------------';
      display: block;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      top: 0.6rem;
    }

    span:first-of-type {
      float: left;
      margin-right: 1rem;
    }

    span:last-of-type {
      float: right;
      margin-left: 1rem;
    }
  }

  &__char-info-item-title {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__char-info-item-desc {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__char-desc {
    display: flex;
    column-gap: 17.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    .price {
      font-family: Good Timing, sans-serif;
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 130%;
    }
  }

  &__char-desc-form {
    display: flex;
    column-gap: 3rem;
    .input-count {
      align-items: center;
      input {
        background: transparent;
        // border: 0;
        font-weight: 700;
      }
    }
  }

  &__char-auto {
    padding: 1.2rem 3.2rem 1.2rem 1.6rem;
    background: $white;
    display: flex;
    justify-content: space-between;
  }

  &__char-auto-desc {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
  }

  &__char-auto-desc-icon {
    width: 4.4rem;
    height: 4.4rem;
    background-color: #4ec1c1;
    background-image: url('../img/icon/check-white.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    &.no-auto {
      background-image: url(../img/icon/danger.svg);
    }
  }

  &__char-auto-desc-name {
    color: $black;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 130%;
    width: 40rem;
  }

  &__char-auto-desc-btn {
    margin: inherit;

    .btn-arrows__title {
      color: $black;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 120%;
      font-family: Gilroy, sans-serif;
      text-transform: none;
    }
  }

  &__analogues {
    width: calc(50% - 1.5rem);
    display: flex;
    flex-direction: column;
    row-gap: 4.5rem;
    .title {
      font-size: 3.8rem;
    }
  }

  &__analogues-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__analogues-slider {
    .card {
      height: auto;
    }
    .card__content {
      max-width: 38.2rem;
    }
    .card__swiper-slide {
      height: 16.5rem;
      width: 33.8rem;
    }
    button {
      margin: 0;
    }
  }

  &__desc {
    background: rgba(255, 255, 255, 0.35);
    width: calc(50% - 1.5rem);
  }

  &__desc-title {
    padding: 4.5rem 4.5rem 4rem 4.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: $border;
  }

  &__desc-title-text {
    color: $black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__desc-title-delivery {
    color: $grey;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__desc-btns {
    display: flex;
    width: 100%;
    padding: 4.5rem 4.5rem 2rem 4.5rem;
    border-bottom: $border;
  }

  &__desc-btns-btn {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 50%;

    &:first-child {
      padding-right: 2.4rem;
      border-right: 0.2rem solid rgba(255, 255, 255, 0.8);
    }

    &:last-child {
      margin-left: 2.4rem;
    }

    &.active {
      .product__desc-btns-btn-top-title {
        font-size: 2rem;
        font-weight: 700;
      }

      .product__desc-btns-btn-search-arrow {
        display: block;
      }
    }
  }

  &__desc-btns-btn-top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
  }

  &__desc-btns-btn-top-title {
    color: $black;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
  }

  &__desc-btns-btn-top-img {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__desc-btns-btn-search-arrow {
    display: none;
  }

  &__desc-text {
    padding: 4rem 4.5rem 2.4rem 4.5rem;
    .product__char-info {
      padding: 0 9rem 0 4.5rem;
    }
    .product__char-info-item {
      display: flex;
      align-items: center;
    }
    .product__char-info-item-desc {
      width: 16.5rem;
      order: 1;
      flex-shrink: 0;
      width: 41rem;
    }
    .product__char-info-item-title {
      flex-shrink: 0;
    }
    .product__char-info-item::after {
      top: 0;
    }
  }

  &__desc-cont {
    display: none;
    margin-bottom: 0;
    height: 32rem;
    width: 103%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
    }
    &.active {
      display: flex;
    }
  }

  &__suitable,
  &__subsuitable {
    display: none;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  &__subsuitable,
  &__subsuitable-block-content {
    row-gap: 1.2rem;
    padding-left: 3.2rem;
    padding-top: 1.2rem;
    &-block {
      &:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__subsuitable-block-content[display='block'] {
    column-gap: 7rem;
    flex-wrap: wrap;
    display: none;
  }

  &__suitable-block-inner,
  &__subsuitable-block-inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    column-gap: 2rem;

    span {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      line-height: 140%;
    }

    img {
      width: 1.4rem;
      height: 1.4rem;
      transition: all 0.2s ease-in-out;
    }

    &.active {
      img {
        transform: rotate(180deg);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__suitable-block-content {
    display: none;
  }

  &__subsuitable-block-content-item {
    display: inline-flex;
    flex-direction: column;
    width: 25rem;
    row-gap: 0.2rem;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
    &-title {
      color: $grey;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 130%;
    }
    &-desc {
      color: $black;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 140%;
    }
  }

  .main__pagination {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 48em) {
  .product {
    padding: 11vw 0 18vw 0;

    .btn-back {
      margin: initial;
      margin-bottom: 10.6vw;
    }

    &__container {
      row-gap: 7.5vw;
    }

    &__title-text {
      font-size: 5.3vw;
    }

    &__wrapper {
      row-gap: 0;
      flex-direction: column;
    }

    &__img {
      width: 50%;
    }

    &__slider {
      width: 100%;
      order: -1;
      flex-direction: row;
      column-gap: 3.2vw;
      margin-bottom: 5.3vw;
    }

    &__slider-2 {
      width: 71vw !important;
      flex-shrink: 0;
    }

    &__slider-1 .swiper-wrapper {
      flex-direction: column;
      row-gap: inherit;
      justify-content: space-between;
    }

    &__slider-1-slide {
      width: 20vw !important;
      height: 20vw;

      img {
        width: 17vw;
        height: 14vw;
      }
    }

    &__char {
      width: 100%;
      margin-bottom: 16vw;

      .title {
        font-size: 5.3vw;
        margin-bottom: 6.4vw;
      }
    }

    &__char-info {
      row-gap: 4.27vw;
      width: 100%;
      margin-bottom: 0;
    }

    &__char-info-item {
      &::after {
        top: 0.6rem;
      }

      span:first-of-type {
        margin-right: 1rem;
      }

      span:last-of-type {
        margin-left: 1rem;
      }
    }

    &__char-info-item-title {
      font-size: 3.8vw;
      line-height: 130%;
    }

    &__char-info-item-desc {
      font-size: 3.8vw;
      line-height: 130%;
    }

    &__char-desc {
      column-gap: 17.5rem;
      margin-bottom: 3rem;
      padding: 5.3vw 0;
      border-top: $border;
      border-bottom: $border;

      .price {
        font-size: 3.8rem;
        line-height: 130%;
      }
    }

    &__char-desc-form {
      column-gap: 3.2vw;
      width: 100%;
      .input-count {
        justify-content: center;
        border: $border;
        width: 29vw;
        flex-shrink: 0;
        .input {
          border: $border;
          border-color: $mainColor;
        }
      }
      .btn-form {
        width: 100%;
      }
    }

    &__char-auto {
      padding: 3.2vw 4.27vw;
      flex-direction: column;
      row-gap: 3.2vw;
    }

    &__char-auto-desc {
      column-gap: 4vw;
    }

    &__char-auto-desc-icon {
      width: 11vw;
      height: 10vw;
    }

    &__char-auto-desc-name {
      font-size: 3vw;
      line-height: 130%;
      width: 100%;
    }

    &__char-auto-desc-btn {
      .btn-arrows__title {
        font-size: 4vw;
      }
    }

    &__analogues {
      width: 100%;
      row-gap: 5.3vw;

      .title {
        font-size: 5.3vw;
      }

      .swiper__arrows {
        display: none;
      }
    }

    &__analogues-slider-wrapper {
      row-gap: 3.2vw;
      height: 152vw;
    }

    &__desc {
      width: 100%;
      order: -1;
      margin-bottom: 16vw;
    }

    &__desc-btns {
      width: 100%;
      padding: 5.3vw 2.8vw;
      border: none;
    }

    &__desc-btns-btn {
      row-gap: 0;
      width: 50%;

      &:first-child {
        padding-right: 0;
      }

      &.active {
        .product__desc-btns-btn-top-title {
          font-size: 4.8vw;
        }
      }
    }

    &__desc-btns-btn-search-arrow {
      width: 4.27vw;
      height: 4vw;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &__desc-btns-btn-top {
      column-gap: 2.8vw;
      align-items: flex-start;
    }

    &__desc-btns-btn-top-title {
      font-size: 4.8vw;
    }

    &__desc-btns-btn-top-img {
      width: 7vw;
      height: 5.3vw;
      flex-shrink: 0;
      position: relative;
      top: 1.4vw;
    }

    &__desc-text {
      padding: 0 2.8vw 5.3vw 2.8vw;
    }

    &__desc-cont {
      margin-bottom: 0;
      height: 69vw;
      width: 100%;
    }

    &__suitable-block-inner,
    &__subsuitable-block-inner {
      span {
        font-size: 3.8vw;
        line-height: 130%;
      }

      img {
        width: 3.2vw;
        height: 3.2vw;
      }
    }

    &__subsuitable-block-content-item {
      width: 49%;
      row-gap: 0.5vw;

      &:not(:last-child) {
        margin-bottom: 2.8vw;
      }

      &-title {
        font-size: 3.2vw;
        line-height: 130%;
      }

      &-desc {
        font-size: 3.2vw;
        line-height: 130%;
      }
    }
    &__desc-mob {
      order: -1;
      margin-bottom: 16vw;
      flex-direction: column;
    }

    &__desc-mob-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5.3vw;

      .price {
        color: $black;
        font-size: 5.3vw;
        font-weight: 700;
        line-height: 130%;
        font-family: Good Timing, sans-serif;
      }
    }

    &__desc-mob-info-left {
      display: flex;
      column-gap: 2.8vw;
      align-items: center;
    }

    &__desc-mob-info-left-brand {
      width: 24vw;
      height: 5.3vw;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__desc-mob-info-left-count {
      display: flex;
      align-items: center;
      column-gap: 1.4vw;
      div {
        &:first-child {
          color: $black;
          font-size: 3.2vw;
          font-weight: 500;
          line-height: 130%;
        }
        &:last-child {
          color: $black;
          font-size: 4vw;
          font-weight: 600;
          line-height: 130%;
        }
      }
    }
  }

  .main__pagination {
    margin-top: 6.4vw;
    span {
      width: 8vw;
    }
  }
}
